$footer-color: $black-blue;

%global--links {
  display: inline-block;
  font-size: 1.4rem;
  font-family: $arial;
  color: $footer-color;
  text-decoration: none;
  text-align: left;
  padding: 8px 0;
  position: relative;
  @include respondTo(desktop) {
    font-size: 1.5rem;
    padding: 10px 0;
  }
  &[target='_blank'] {
    @extend %link--external;
  }
}

.global-footer {
  .footer-menu {
    &__link {
      @extend %global--links;
      @extend .button__underlined;
    }
  }

  &__logo {
    background: url('~src/svgs/unilever-logo.svg') no-repeat;
  }
}
