@import '../../scss/config';

.back-to-top {
  position: fixed;
  display: inline-block;
  bottom: $back-to-top-bottom;
  right: $back-to-top-right;
  z-index: $back-to-top-z-index;
  @include respondTo(desktop) {
    bottom: $back-to-top-bottom-lg;
    right: $back-to-top-right-lg;
  }
  :global {
    .back-to-top__button {
      padding: 0;
      width: $back-to-top-size;
      height: $back-to-top-size;
      @include respondTo(desktop) {
        width: $back-to-top-size-lg;
        height: $back-to-top-size-lg;
      }
    }
  }
  &[hidden] {
    display: none;
  }
}
