.favorite {
  background: transparent;
  border: 0 none;
  cursor: pointer;
  display: block;
  width: 20px;
  padding: 0;

  svg {
    min-width: 100%;
  }
}

:global(.favorite-selected) {
  color: red;
}


