@import url(https://fast.fonts.net/t/1.css?apiType=css&projectid=edfce55d-c08a-4747-abae-708a93049a25);
@font-face {
  font-family: 'Trebuchet W01 Regular';
  src: url('https://fast.fonts.net/dv2/2/fbd0f791-870f-4f29-bbc3-9827434737a2.eot?d44f19a684109620e4841471af90e81876e4447fbd9dcaf33ed27ddb0be7bf67bf1d1b817cb838e94894397783d7429286a18aa0ec34734551a88281fec7dbc78d4712bfe7ee8d91905f9643de38b47a136eee3f6b7131c2&projectId=edfce55d-c08a-4747-abae-708a93049a25#iefix');
  src: url('https://fast.fonts.net/dv2/2/fbd0f791-870f-4f29-bbc3-9827434737a2.eot?d44f19a684109620e4841471af90e81876e4447fbd9dcaf33ed27ddb0be7bf67bf1d1b817cb838e94894397783d7429286a18aa0ec34734551a88281fec7dbc78d4712bfe7ee8d91905f9643de38b47a136eee3f6b7131c2&projectId=edfce55d-c08a-4747-abae-708a93049a25#iefix')
      format('eot'),
    url('https://fast.fonts.net/dv2/14/f2c6415f-9bf2-4714-8c9e-98f1215e4f24.woff2?d44f19a684109620e4841471af90e81876e4447fbd9dcaf33ed27ddb0be7bf67bf1d1b817cb838e94894397783d7429286a18aa0ec34734551a88281fec7dbc78d4712bfe7ee8d91905f9643de38b47a136eee3f6b7131c2&projectId=edfce55d-c08a-4747-abae-708a93049a25')
      format('woff2'),
    url('https://fast.fonts.net/dv2/3/2ce511de-aa95-4ce0-84ae-f462ece99bf7.woff?d44f19a684109620e4841471af90e81876e4447fbd9dcaf33ed27ddb0be7bf67bf1d1b817cb838e94894397783d7429286a18aa0ec34734551a88281fec7dbc78d4712bfe7ee8d91905f9643de38b47a136eee3f6b7131c2&projectId=edfce55d-c08a-4747-abae-708a93049a25')
      format('woff'),
    url('https://fast.fonts.net/dv2/1/f108aafb-b2fc-400c-b3a3-fa358809a930.ttf?d44f19a684109620e4841471af90e81876e4447fbd9dcaf33ed27ddb0be7bf67bf1d1b817cb838e94894397783d7429286a18aa0ec34734551a88281fec7dbc78d4712bfe7ee8d91905f9643de38b47a136eee3f6b7131c2&projectId=edfce55d-c08a-4747-abae-708a93049a25')
      format('truetype');
}
@font-face {
  font-family: 'Trebuchet W01 Bold';
  src: url('https://fast.fonts.net/dv2/2/e595739f-4994-4060-90ef-50e08d66509f.eot?d44f19a684109620e4841471af90e81876e4447fbd9dcaf33ed27ddb0be7bf67bf1d1b817cb838e94894397783d7429286a18aa0ec34734551a88281fec7dbc78d4712bfe7ee8d91905f9643de38b47a136eee3f6b7131c2&projectId=edfce55d-c08a-4747-abae-708a93049a25#iefix');
  src: url('https://fast.fonts.net/dv2/2/e595739f-4994-4060-90ef-50e08d66509f.eot?d44f19a684109620e4841471af90e81876e4447fbd9dcaf33ed27ddb0be7bf67bf1d1b817cb838e94894397783d7429286a18aa0ec34734551a88281fec7dbc78d4712bfe7ee8d91905f9643de38b47a136eee3f6b7131c2&projectId=edfce55d-c08a-4747-abae-708a93049a25#iefix')
      format('eot'),
    url('https://fast.fonts.net/dv2/14/e1159629-5a90-42ad-a16c-0f96081f739a.woff2?d44f19a684109620e4841471af90e81876e4447fbd9dcaf33ed27ddb0be7bf67bf1d1b817cb838e94894397783d7429286a18aa0ec34734551a88281fec7dbc78d4712bfe7ee8d91905f9643de38b47a136eee3f6b7131c2&projectId=edfce55d-c08a-4747-abae-708a93049a25')
      format('woff2'),
    url('https://fast.fonts.net/dv2/3/00fba97c-0e4a-4093-8859-fcba467a7e95.woff?d44f19a684109620e4841471af90e81876e4447fbd9dcaf33ed27ddb0be7bf67bf1d1b817cb838e94894397783d7429286a18aa0ec34734551a88281fec7dbc78d4712bfe7ee8d91905f9643de38b47a136eee3f6b7131c2&projectId=edfce55d-c08a-4747-abae-708a93049a25')
      format('woff'),
    url('https://fast.fonts.net/dv2/1/4c80d67e-fe7c-407b-a934-59134ad64cc7.ttf?d44f19a684109620e4841471af90e81876e4447fbd9dcaf33ed27ddb0be7bf67bf1d1b817cb838e94894397783d7429286a18aa0ec34734551a88281fec7dbc78d4712bfe7ee8d91905f9643de38b47a136eee3f6b7131c2&projectId=edfce55d-c08a-4747-abae-708a93049a25')
      format('truetype');
}

// @import 'https://fast.fonts.net/cssapi/edfce55d-c08a-4747-abae-708a93049a25.css'; //Hellman's fonts TrebuchetMS / bold TrebuchetMS / normal
//font-family: "Trebuchet W01 Regular",sans-serif;
//font-family: "Trebuchet W01 Bold",sans-serif;

@import url('https://p.typekit.net/p.css?s=1&k=sze2dvi&ht=tk&f=10296.10304&a=571539&app=typekit&e=css');

@font-face {
  font-family: 'brandon-grotesque';
  src: url('https://use.typekit.net/af/8f4e31/0000000000000000000132e3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/8f4e31/0000000000000000000132e3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/8f4e31/0000000000000000000132e3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'brandon-grotesque';
  src: url('https://use.typekit.net/af/031bc7/0000000000000000000132e5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/031bc7/0000000000000000000132e5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3')
      format('woff'),
    url('https://use.typekit.net/af/031bc7/0000000000000000000132e5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 900;
}
// @import 'https://use.typekit.net/sze2dvi.css'; //Hellman's fonts: BrandonGrotesque / black BrandonGrotesque / bold
//font-family: "brandon-grotesque",sans-serif;
