.hellmanns {
  .bg-primary {
    background-color: $hellmans-color-primary;
  }
  .bg-secondary {
    background-color: $hellmans-color-secondary;
  }
  h2 {
    font: 900 $hellmanns-h2-fz $brandonGrotesqueBlack;
    line-height: 1.5;
    color: $hellmans-color-primary;
    text-transform: uppercase;
    text-align: center;
    @include respondTo(desktop) {
      font-size: $hellmanns-h2-fz-lg;
      line-height: 1;
    }
    &:after {
      content: '';
      display: block;
      width: 240px;
      height: 7px;
      background-image: url('~src/svgs/inline/backslash.svg');
      background-repeat: repeat-x;
      background-size: 4px;
      margin: 6px auto 0;
      @include respondTo(desktop) {
        width: 374px;
        margin-top: 10px;
      }
    }
  }
  .bg-primary {
    h2 {
      color: $white;
      &:after {
        background-image: url('~src/svgs/inline/backslash-light.svg');
      }
    }
  }
  .bow-white {
    position: relative;
    height: 77px;
    background: $hellmans-color-primary url('~src/svgs/inline/bow-white.svg')
      no-repeat center 27px/77px;
    @include respondTo(desktop) {
      background-size: 101px 35px;
      height: 77px;
    }
    &:after,
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 38px;
      background-color: #fff;
      width: calc(50% - 75px);
      height: 2px;
    }
    &:after {
      right: 0;
    }
  }
  .brand-social {
    &__title {
      &:after {
        content: none;
      }
    }
    &__list {
      margin: 0;
      justify-content: center;
      svg {
        fill: $white;
      }
    }
  }
  .hero--planner {
    border-radius: 0;
    .hero {
      &__header {
        h2 {
          font: 900 $hellmanns-h3-fz $brandonGrotesqueBlack;
          line-height: 1.42;
          @include respondTo(desktop) {
            font-size: $hellmanns-h2-fz-lg;
            line-height: 1;
          }

          &:after {
            content: none;
          }
        }
      }
    }
  }
}
