@import '../../scss/vars';
@import '../../scss/mixins';

.recipe-page {
  .recipePageHero {
    @include respondTo(desktop) {
      margin-bottom: 60px;
    }
  }
  .recipeTopBlock {
    position: relative;
    display: flex;

    .recipeTopBlockItem {
      display: flex;
      flex-direction: column;
      width: 100%;
      &:first-child {
        display: none;
        @include respondTo(desktop) {
          display: block;
          transform: translateY(50px);
        }
      }
      @include respondTo(desktop) {
        &:last-child {
          padding-top: 50px;
          padding-left: 100px;
        }
      }
    }
    %recipeHeroMobile {
      position: relative;
      width: 100%;
      overflow: hidden;
      @include respondTo(desktop) {
        display: none;
      }
    }
    .recipeHeroMobile {
      @extend %recipeHeroMobile;
    }
    .recipeHeroActions {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 18px;
      right: 18px;
      & > div:not(:last-child) {
        margin-bottom: 10px;
        @include respondTo(desktop) {
          margin-bottom: 20px;
        }
      }
    }
    .recipeHeroDesktop {
      @extend %recipeHeroMobile;
      @include respondTo(desktop) {
        display: block;
        min-width: 552px;
        border-radius: 5px;
      }
    }
    .recipeBlockTitle {
      order: -1;
    }
    .recipeBlockDescription {
      display: flex;
      flex-direction: column;
      @include respondTo(desktop) {
        flex-direction: column-reverse;
      }
      p {
        margin-top: 20px;
        @include respondTo(desktop) {
          margin-top: 0;
        }
      }
    }
  }

  .recipeIngredientsCooking {
    display: none;
    @include respondTo(desktop) {
      display: flex;
      justify-content: space-between;
    }

    .recipeCopyIngredients {
      @include respondTo(desktop) {
        width: 35%;
      }
    }
    .recipeCookingMethod {
      @include respondTo(desktop) {
        width: 58%;
      }
    }
  }
  .recipeIngredientsCookingMobile {
    display: block;
    @include respondTo(desktop) {
      display: none;
    }
  }
  :global(.tabs__button) {
    flex: 1;
  }
  :global {
    .recipe-attributes {
      & > div {
        flex: 1;
        justify-content: center;
        @include respondTo(desktop) {
          justify-content: flex-start;
          flex: 0 1 auto;
          &:not(:last-child) {
            margin-right: 40px;
          }
        }
      }
    }
    .tags {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}

.recipeIngredientsCookingTabs {
  & > div {
    padding: 0 $layout-indent-sm;
  }
}

.recipePageNutritional {
  background-color: $white-gray;
  border-radius: 20px;
  h2 {
    margin-bottom: 35px;
  }
  @include respondTo(desktop) {
    border-radius: 0;
  }
}

.tag-list {
  padding: 20px 25px;
  @include respondTo(desktop) {
    padding: 30px $layout-indent;
  }
}
