@import '../../scss/vars';
@import '../../scss/mixins';

.recipe-page {
  :global {
    .recipe-copy__title h1 {
      color: $black-blue;
      padding-top: 1rem;
      @include respondTo(desktop) {
        padding-top: 1.6rem;
      }
    }
  }
}
