@import '../../vars';
@import '../../mixins';
@import '../../components/Button/index';

.wizard {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $white;
  &__container {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 80px $layout-indent-sm 0 $layout-indent-sm;
    @include respondTo(desktop) {
      padding: 80px $layout-indent 0 $layout-indent;
    }
  }
  &__content {
    height: 100%;
    width: 100%;
  }
  &__info {
    h1 {
      font-size: 3rem;
      // color: $black-blue;
      margin-bottom: 10px;
      @include respondTo(desktop) {
        margin-bottom: 18px;
        font-size: 5.2rem;
      }
    }
  }
  &__description {
    margin-bottom: 27px;
    font-size: 1.4rem;
    @include respondTo(desktop) {
      font-size: 1.6rem;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
    left: 24px;
    top: 24px;
    @include respondTo(desktop) {
      left: 38px;
      top: 38px;
    }
    svg {
      width: 29px;
      height: 36px;
      display: block;
      margin: auto;
      @include respondTo(desktop) {
        width: 48px;
        height: 58px;
      }
    }
    .main-logo {
      &__text {
        @extend .sr-only;
      }
    }
  }
  &__back {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    display: flex;
    svg {
      width: 16px;
      height: 16px;
      display: block;
      margin: auto;
      stroke: $black-blue;
    }
  }
  &__close {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    svg {
      width: 16px;
      height: 16px;
      display: block;
      margin: auto;
    }
  }

  &__title {
    color: $fish-blue-darker;
    width: 100%;
    margin-bottom: 13px;
    h2 {
      font-size: 3rem;
      line-height: 1.07;
      color: $fish-blue-darker;
      @include respondTo(desktop) {
        font-size: 5.2rem;
      }
    }
    .subheading {
      @extend .subheading;
      color: $black-blue;
    }
    @include respondTo(desktop) {
      margin-bottom: 25px;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 25px 0 15px;
    button + button {
      margin-right: 16px;
    }
  }
  &__button {
    &--primary {
      @extend .button;
      @extend .button--fullwidth;
    }
    &--secondary {
      @extend .button;
      @extend .button--fullwidth;
      @extend .button--secondary;
    }

    &-placeholder {
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      a {
        color: inherit;
        transition: background-color 0.2s;
        &:hover {
          background-color: $apple-green;
          color: $black-blue;
        }
      }
    }
  }
  &__warning {
    font-size: 1.2rem;
    color: $alert-color;
    margin-bottom: 12px;
  }
}
