.wizard {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $white;
  &__container {
    @extend .container;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding-top: 66px;
    @media screen and (max-height: 567px),
      screen and (orientation: landscape) and (max-width: 959px) {
      padding-top: 40px;
    }
  }
  &__content {
    height: 100%;
    width: 100%;
  }
  &__info {
    h1 {
      font-size: 3rem;
      color: $black-blue;
      margin-bottom: 10px;
      @include respondTo(desktop) {
        color: #4c6b7f;
        font-size: 5.2rem;
        margin-bottom: 17px;
      }
    }
  }
  &__description {
    margin-bottom: 27px;
    font-size: 1.4rem;
    @include respondTo(desktop) {
      font-size: 1.6rem;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: -40px;
    // quiz scroll for small screen height
    @media screen and (max-height: 567px),
      screen and (orientation: landscape) and (max-width: 959px) {
      margin-top: 0;
    }
    @include respondTo(desktop) {
      margin-top: 0;
      margin-bottom: 14px;
    }

    svg {
      width: 28px;
      height: 35px;
      display: block;
      margin: auto;
      @include respondTo(desktop) {
        width: 48px;
        height: 58px;
      }
    }
    .main-logo {
      &__text {
        @extend .sr-only;
      }
    }
  }
  &__back {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    display: flex;
    svg {
      width: 16px;
      height: 16px;
      display: block;
      margin: auto;
      stroke: $black-blue;
    }
  }
  &__close {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    svg {
      width: 16px;
      height: 16px;
      display: block;
      margin: auto;
    }
  }

  &__title {
    color: $fish-blue-darker;
    width: 100%;
    margin-bottom: 13px;
    @include respondTo(desktop) {
      margin-bottom: 25px;
    }
    * {
      @extend h2;
      margin: 0;
      line-height: 1.14;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
  }
  &__button {
    &--primary {
      @extend .button;
      @extend .button--fullwidth;
    }
    &--secondary {
      @extend .button--fullwidth;
      @extend .button--flat;
      height: 40px;
      font-size: 12px;
    }
    &-placeholder {
      height: 40px;
    }
  }
}
