.wizard--signup{
  .wizard{
    &__title{
      >*{
        @extend h5;
        @include respondTo(desktop){
          font-size:3.7rem;
          color: $black-blue;
        }
      }
    }
    &__content{
      display: flex;
        flex-direction: column;
      &>form{
        display: flex;
        flex-direction: column;
        flex:1;
      }
    }
    &__buttons{
      padding-top:0;
    }
  }
  .generated-form{
    &__container{
      display: flex;
      flex-direction: column;
      height: 100%;
    } 
    &__fields{
      flex:1;
      overflow-y: auto;
    }
    &__item{
      @include respondTo(desktop){
        padding-right: 100px;
      }
    }
    &__item-legend{
      font-size: 1.4rem;
      margin-bottom: 10px;
    }
    .checkable__label{
      font-size: 1.4rem;
    }
    .buttons{
      padding-top:20px;
    }
    &__button--primary{
      @extend .wizard__button--primary;
      display: block;
      margin: 0 auto;
    }
    .field:first-child, .field:nth-child(2){
      @extend ._desktop-50;
    }
  }

}