$alert-msg-height: 28px;
$validation-icon-size: 18px;

%input-general {
  border: 1px solid $black-blue;
  border-radius: 5px;
  font-size: 1.4rem;
  line-height: 1.5;
  width: 100%;
  padding: 2px 10px;
}

.generated-form {
  &__button--primary {
    @extend .button;
  }
  a {
    @extend %link--inline;
    &[target='_blank'] {
      @extend %link--external;
    }
  }
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
}

.field {
  margin-bottom: 20px;
  &__label-text,
  &__group--label {
    font-family: $rubik;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0 0 9px 0;
    display: block;
  }
  &__input {
    @extend %input-general;
    height: 40px;
    &--large {
      height: 52px;
    }
  }
  &__textarea {
    @extend %input-general;
  }
  &__error {
    font-size: 1.2rem;
    color: $alert-color;
    height: $alert-msg-height;
    display: flex;
    align-items: flex-end;
  }
}

.field__wrap,
.checkable.checkbox {
  position: relative;
  padding-bottom: 28px;
  &:after {
    display: flex;
    border-radius: 100%;
    width: $validation-icon-size;
    height: $validation-icon-size;
    color: $white;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -20px;
    top: calc(50% - #{$validation-icon-size/2} - #{$alert-msg-height/2});
    font-size: 1.2rem;
    line-height: 1.17;
    @include respondTo(desktop) {
      right: -35px;
    }
  }
  &--inline {
    display: flex;
    .checkable {
      margin-right: 30px;
    }
  }
}
.checkable.checkbox {
  margin-bottom: 20px;
}

.valid {
  %input-general {
    border-color: $apple-green;
  }
  &.field__wrap,
  &.checkable.checkbox {
    &:after {
      content: '\2713';
      background-color: $apple-green;
    }
  }
}
.invalid {
  %input-general {
    border-color: $alert-color;
  }
  &.field__wrap,
  &.checkable.checkbox {
    padding-bottom: 0;
    &:after {
      content: '!';
      background-color: $alert-color;
    }
  }
}
::placeholder {
  color: $gray;
}

// Select component styles
body {
  //body is used to override default styles
  .react-dropdown-select {
    @extend %input-general;
    min-height: 40px;
    cursor: pointer;
    color: $black-blue;
    padding-left: 18px;
    &:hover {
      border-color: inherit;
    }
    &-input {
      font-size: inherit;
      margin: 0;
      padding: 0;
    }
    &-separator {
      display: none;
    }
    &-dropdown {
      border: 0;
      &-handle {
        svg {
          width: 20px;
          height: 20px;
        }
      }
      .option {
        padding: 16px 18px;
        display: flex;
        align-items: center;
        @include respondTo(desktop) {
          padding: 10px 18px;
        }
        &.is-selected {
          background-color: $black-blue;
          color: $white;
        }
        &.active {
          background-color: $blue-overlay-40;
        }
        &:hover {
          color: $black-blue;
          background-color: $apple-green;
        }
      }
    }
  }
}
// Select component styles END

// CheckElem component styles
.checkable {
  &__label {
    font-size: 1.6rem;
    display: flex;
    position: relative;
    cursor: pointer;
    user-select: none;
  }
  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked {
      & + .checkable__checkelem .checkable__checkmark {
        display: block;
      }
    }
  }
  &__checkelem {
    border: 1px solid $black-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 8px;
    .checkable__checkmark {
      display: none;
      background-color: $black-blue;
    }
  }
  &.valid {
    .checkable__checkelem {
      border-color: $apple-green;
      .checkable__checkmark {
        background-color: $apple-green;
      }
    }
  }
  &.invalid {
    .checkable__checkelem {
      border-color: $alert-color;
      .checkable__checkmark {
        background-color: $alert-color;
      }
    }
  }
}
.checkbox {
  .checkable__checkelem {
    height: 18px;
    width: 18px;
    .checkable__checkmark {
      left: 2px;
      top: 2px;
      width: 14px;
      height: 14px;
    }
  }
}
.radiobtn {
  align-items: center;
  .checkable__label {
    display: flex;
    align-items: center;
  }
  .checkable__checkelem {
    height: 28px;
    width: 28px;
    border-radius: 100%;
    .checkable__checkmark {
      border-radius: 100%;
      left: 2px;
      top: 2px;
      width: 20px;
      height: 20px;
    }
  }
}
// CheckElem component styles END
