%input-general {
  border: 1px solid $black-blue;
  border-radius: 5px;
  font-size: 1.4rem;
  line-height: 1.5;
  width: 100%;
  padding: 2px 10px;
}

.generated-form {
  &__button--primary {
    @extend .button;
  }
}

.field {
  margin-bottom: 20px;
  &__label {
  }
  &__label-text {
    font-family: $rubik;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0 0 9px 0;
    display: block;
  }
  &__wrap {
    position: relative;
    &:after {
      display: flex;
      border-radius: 100%;
      width: 18px;
      height: 18px;
      color: $white;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: -20px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 12px;
      line-height: 1.17;
    }
    &--inline {
      display: flex;
      .checkable {
        margin-right: 30px;
      }
    }
  }
  &__select {
  }
  &__input {
    @extend %input-general;
    height: 40px;
    &--large {
      height: 52px;
    }
  }
  &__textarea {
    @extend %input-general;
  }
  &__error {
    font-size: 1.2rem;
    color: $alert-color;
  }
}

.valid {
  %input-general {
    border-color: $apple-green;
  }
  .field__wrap {
    &:after {
      content: '\2713';
      background-color: $apple-green;
    }
  }
}
.invalid {
  %input-general {
    border-color: $alert-color;
  }
  .field__wrap {
    &:after {
      content: '!';
      background-color: $alert-color;
    }
  }
}

// Select component styles
.select {
  &:hover {
    cursor: pointer;
  }
  [class*='control'] {
    @extend %input-general;
    padding: 0;
    min-height: 40px;
    &:hover {
      border-color: inherit;
    }
  }
  [class*='indicatorSeparator'] {
    display: none;
  }
  [class*='indicatorContainer'] {
    color: inherit;
  }
  input {
    height: 0;
  }
  .option {
    padding: 6px 8px;
    font-size: 1.4rem;
    font-family: inherit;
    &:hover {
      background-color: $blue-overlay-40;
    }
    &.is-selected {
      background-color: $black-blue;
      color: $white;
    }
    &.is-focused {
      background-color: $blue-overlay-40;
    }
  }
}
// Select component styles END

// CheckElem component styles
.checkable {
  &__label {
    font-size: 1.6rem;
    display: flex;
    position: relative;
    cursor: pointer;
    user-select: none;
  }
  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked {
      & + .checkable__checkelem .checkable__checkmark {
        display: block;
      }
    }
  }
  &__checkelem {
    border: 1px solid $black-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 8px;
    .checkable__checkmark {
      display: none;
      background-color: $black-blue;
    }
  }
  &.valid {
    .checkable__checkelem {
      border-color: $apple-green;
      .checkable__checkmark {
        background-color: $apple-green;
      }
    }
  }
  &.invalid {
    .checkable__checkelem {
      border-color: $alert-color;
      .checkable__checkmark {
        background-color: $alert-color;
      }
    }
  }
}
.checkbox {
  .checkable__checkelem {
    height: 18px;
    width: 18px;
    .checkable__checkmark {
      left: 2px;
      top: 2px;
      width: 14px;
      height: 14px;
    }
  }
}
.radiobtn {
  align-items: center;
  .checkable__label {
    display: flex;
    align-items: center;
  }
  .checkable__checkelem {
    height: 28px;
    width: 28px;
    border-radius: 100%;
    .checkable__checkmark {
      border-radius: 100%;
      left: 2px;
      top: 2px;
      width: 20px;
      height: 20px;
    }
  }
}
// CheckElem component styles END
