@import '../../vars';
@import '../../mixins';
@import '../../theme';
@import '../../components/Button/index';

.general-signup {
  padding: 37px 0;
  background-color: $white-gray;
  @include respondTo(desktop) {
    padding: 65px 0;
  }

  .generated-form__container {
    @extend .wrapper;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    h1,
    h2,
    h3 {
      display: block;
      width: 100%;
      font-size: 24px;
      font-weight: 500;
      line-height: 1.17;
      text-align: center;
      margin-bottom: 22px;
      color: $black-blue;
      @include respondTo(desktop) {
        font-size: 36px;
        margin-bottom: 34px;
      }
    }
    .buttons{
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  .generated-form__fields {
    flex: 2;
    margin: 0 10px 0 0;
    width: 100%;
    @include respondTo(desktop) {
      margin-right: 16px;
      flex: auto;
      max-width: 536px;
    }
  }
  .generated-form__title {
    @extend h2;
  }

  .generated-form__subtitle {
    @extend h3;
  }


  .field {
    width: 100%;

    &__label-text {
      @extend .sr-only;
    }

    &__input {
      border: solid 1px $black-blue;
      height: 40px;
      font-size: 14px;
      color: $black-blue;
      background-color: transparent;
      padding: 0 18px;
      @include respondTo(desktop) {
        font-size: 16px;
        height: 46px;
      }
    }

    &__error {
      padding-left: 5px;
      display: block;
      font-size: 12px;
      line-height: 1.25;
      letter-spacing: 0.24px;
      color: $alert-color;
      margin-top: 14px;
    }

    &__hint {
      margin: 0;
    }
  }

  .generated-form__button--primary {
    @extend .button;
    @extend .button--medium;
    @extend .button--yellow;
  }
}
