@import '../../scss/vars';
@import '../../scss/mixins';

.contact-form {
  padding: 20px 0 121px;
  @include respondTo(desktop) {
    padding: 50px 0 166px;
  }
  :global {
    .generated-form {
      &__title {
        font-size: 3.4rem;
        color: $fish-blue-darker;
        font-family: $rubik;
        font-weight: 500;
        margin-bottom: 23px;
        @include respondTo(desktop) {
          font-size: 4.5rem;
        }
      }
      &__fields {
        & > .field {
          margin-bottom: 16px;
        }
        @include respondTo(desktop) {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          & > .field {
            width: 100%;
            order: 0;
            .field__wrap {
              width: 42%;
            }
            .field__label-text {
              font-size: 1.6rem;
              @include respondTo(desktop) {
                font-size: 2.5rem;
              }
            }
          }
          & > .generated-form__item {
            width: 42%;
            border: none;
          }
          fieldset:nth-of-type(1) {
            order: 1;
          }
          fieldset:nth-of-type(2) {
            order: 3;
          }
          fieldset:nth-of-type(3) {
            order: 2;
            height: 0;
          }
          fieldset:nth-of-type(4) {
            order: 4;
            width: 100%;
          }
        }
      }
      &__item {
        align-items: flex-start;
        &-legend {
          display: block;
          width: 100%;
          font-size: 2.1rem;
          font-weight: 500;
          font-family: $rubik;
          margin-bottom: 18px;
          @include respondTo(desktop) {
            font-size: 2.5rem;
          }
        }
        &:last-child {
          .generated-form__item-legend {
            font: 400 1.6rem $arial;
            margin-bottom: 28px;
          }
        }
        .field__group {
          display: flex;
          align-items: flex-start;
          margin-bottom: 30px;
          & > div {
            margin-right: 35px;
          }
        }
        .checkable .checkable__checkelem {
          margin-right: 18px;
        }
        .checkable.valid .checkable__checkelem {
          border-color: $black-blue;
        }
        .checkable.valid .checkable__checkelem .checkable__checkmark {
          background: $black-blue;
        }
      }
      &__button--primary {
        display: block;
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
        @include respondTo(desktop) {
          display: block;
          width: 352px;
        }
      }
      .buttons {
        margin-top: 31px;
        @include respondTo(desktop) {
          margin-top: 50px;
        }
      }
    }
    .field {
      margin-bottom: 23px;
      &__hint {
        margin: 13px 0 0;
        font-size: 1.2rem;
      }
      &__group--label {
        margin: 0 0 14px;
        @include respondTo(desktop) {
          margin: 0 0 19px;
        }
      }
      &__textarea {
        padding: 12px 18px;
        @include respondTo(desktop) {
          height: 230px;
          min-height: 230px;
          max-width: 457px !important;
        }
      }
      @include respondTo(desktop) {
        margin-bottom: 0;
      }
      &__input,
      &__select {
        padding: 6px 18px;
        @include respondTo(desktop) {
          height: 46px;
          line-height: 1.6rem;
          padding: 15px 18px;
        }
      }
      @include respondTo(desktop) {
        @media (hover) {
          .select [class*='control']:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
