@import '../../vars';
@import '../../mixins';

.search {
  &-listing {
    position: relative;
    z-index: 1;
    padding-top: 30px;
    @include respondTo(desktop) {
      padding-top: 60px;
    }

    &__results-header {
      font-size: 2.4rem;
      line-height: 1.5;
      color: $black-blue;
      // margin-bottom: 27px;
      margin-bottom: 10px; // @todo remove this line and uncomment the a line above when articles are there
      white-space: pre-wrap;
      padding: 0 25px;
      @include respondTo(desktop) {
        padding: 0 $layout-indent;
        font-size: 2.5rem;
        line-height: 1.5;
      }
    }

    &__null-results {
      padding: 0 25px;
      @include respondTo(desktop) {
        padding: 0 $layout-indent;
      }
    }

    .recommendations {
      &__subtitle {
        margin-top: 40px;
      }
    }
  }
}
