@import '../../../../scss/config';

:global {
  .navigation {
    position: absolute;
    top: $header-height;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $header-navigation-background;
    will-change: transform;
    transform: translate3d(-110%, 0, 0);
    transition-property: transform, visibility;
    visibility: hidden;
    color: $header-color;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: -80px;
      background: $header-navigation-background;
      width: 100%;
      height: 100%;
      z-index: -1;
      @include respondTo(desktop) {
        display: none;
      }
    }

    &.active {
      transition-duration: 0.25s;
      visibility: visible;
      transform: translate3d(0, 0, 0);
      .menu {
        overflow-y: auto;
        @include respondTo(desktop) {
          overflow-y: visible;
        }
      }
    }

    @include respondTo(desktop) {
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      background: transparent;
      width: auto;
      transform: none;
      visibility: visible;
      top: auto;
      min-height: 0;
      &.active {
        visibility: visible;
        transform: none;
      }
    }
  }
}

/////----------- CUSTOM -----------/////

:global {
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    @include respondTo(desktop) {
      display: flex;
      align-items: center;
      height: 100%;
      margin: 0 -15px;
    }

    &__item {
      border-bottom: 1px solid $header-color;
      padding: 30px 25px;
      @include respondTo(desktop) {
        display: inline-block;
        align-items: center;
        padding: 0 10px;
        border: none;
      }

      &.has-submenu {
        position: relative;
        justify-content: space-between;

        .menu__dropdown-icon {
          will-change: transform;
          transition-property: transform;
          transition-duration: 200ms;
          @include respondTo(desktop) {
            margin-left: 10px;
          }

          .dropdown-icon {
            vertical-align: middle;
            fill: currentColor;
            font-size: 1.4rem;
            width: 1em;
            height: 1em;
            @include respondTo(desktop) {
              fill: $fish-blue-darker;
            }
          }
        }

        &.active {
          .menu__dropdown-icon {
            transform: rotate(180deg);
            @include respondTo(desktop) {
              transform: none;
            }
          }
        }
      }
    }

    &__link {
      font-size: 2.1rem;
      font-weight: 500;
      font-family: $rubik;
      text-decoration: none;
      flex: 1;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $header-color;
      transition: color 0.2s ease-out;
      @include respondTo(desktop) {
        padding: 10px;
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        border-radius: 5px;
        &:hover,
        &:focus {
          color: $fish-blue-darker;
        }
      }
    }

    &__dropdown-icon {
      cursor: pointer;
    }
  }

  .menu__item.has-submenu:first-child {
    & > .submenu {
      & > .submenu__item:last-child {
        margin-top: 30px;

        @include respondTo(desktop) {
          margin-top: 15px;
        }

        a {
          text-transform: uppercase;
          font-weight: bold;
          padding-bottom: 0;
          @include respondTo(desktop) {
            padding-bottom: 10px;
          }
        }
      }
    }
  }

  /// MENU STYLES 2-3 lvl

  .submenu {
    list-style: none;
    width: 100%;
    height: 0;
    font-size: 1.6rem;
    overflow: hidden;
    visibility: hidden;
    @include respondTo(desktop) {
      position: absolute;
      top: 100%;
      left: 0;
      background: $submenu-bg-color;
      width: auto;
      min-width: 180px;
      border-radius: 5px;
      padding: 0;
    }

    &.is-opened {
      height: 100%;
      padding: 10px 0 0;
      overflow: visible;
      visibility: visible;
    }

    &__link {
      font-size: inherit;
      font-weight: normal;
      display: flex;
      width: 100%;
      cursor: pointer;
      justify-content: space-between;
      align-items: center;
      text-decoration: none;
      color: $submenu-text-color-mobile;
      padding: 10px 0;
      transition: background-color 0.2s ease-out;
      border-radius: 5px;
      box-sizing: border-box;

      @include respondTo(desktop) {
        font-size: 1.2rem;
        color: $submenu-text-color-desktop;
        padding: 6px 20px;
        &:hover,
        &:focus {
          background-color: $apple-green;
          color: $black-blue;
        }
      }
    }

    &__item {
      line-height: 1;

      &:nth-last-child(2) {
        &.has-submenu {
          .submenu {
            &.is-opened {
              padding: 12px 0 0;
            }
          }
        }
      }
      &.has-submenu {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        overflow: visible;

        .submenu {
          display: block;
          border-radius: 5px;
          @include respondTo(desktop) {
            padding: 0;
            position: absolute;
            left: 100%;
            top: 0;
          }

          &.is-opened {
            padding: 12px 0 32px;
          }
        }

        & > .submenu {
          font-size: 1.4rem;

          .submenu__link {
            padding: 6px 0;
            text-transform: capitalize;
            @include respondTo(desktop) {
              padding: 10px 20px;
            }
          }
        }

        .submenu__dropdown-icon {
          transform: none;
          margin-left: 15px;
          position: relative;
          @include respondTo(desktop) {
            will-change: transform;
            transition-property: transform;
            transition-duration: 200ms;
            display: inline-block;
            &:before,
            &:after {
              display: none;
            }
          }

          &:before,
          &:after {
            font-weight: bold;
            position: absolute;
            line-height: 0;
            top: 0;
            right: 0;
            font-size: 2rem;
          }

          &:before {
            content: '\002B';
          }

          &:after {
            content: '\2212';
          }

          .dropdown-icon {
            display: none;
            @include respondTo(desktop) {
              display: inline-block;
              vertical-align: middle;
              fill: $fish-blue-darker;
              font-size: 1.4rem;
              width: 1em;
              height: 1em;
            }
          }
        }

        &.active {
          .submenu__dropdown-icon {
            &:before {
              visibility: hidden;
            }

            &:after {
              visibility: visible;
            }
          }
        }

        &:hover,
        &.active {
          @include respondTo(desktop) {
            .submenu__dropdown-icon {
              transform: rotate(-90deg);

              .dropdown-icon {
                fill: $black-blue;
              }
            }
          }
        }
      }
      &:nth-child(n+10) {
        &.has-submenu {
          .submenu {
            top: auto !important;
            bottom: 0;
          }
        }
      }
    }
  }

  //desktop menu animation
  .menu {
    .has-submenu {
      @include respondTo(desktop) {
        .submenu {
          visibility: hidden;
          opacity: 0;
          max-height: 0;
          height: auto;
          transition: max-height 500ms 500ms ease, visibility 0ms 300ms ease,
            opacity 200ms;
        }
      }

      &:hover,
      &.active {
        @include respondTo(desktop) {
          .menu__dropdown-icon {
            transform: rotate(180deg);
          }
          & > .submenu {
            overflow: visible;
            visibility: visible;
            max-height: 1000px;
            padding: 10px 0;
            opacity: 1;
            transition: max-height 500ms ease, opacity 200ms;
          }
        }
      }
    }
  }
}
