.recipe-rating {
  margin-bottom: 20px;
  .rr-widget-container {
    display: flex;
    align-items: center;
    margin: 0;
    .wRtng {
      display: none;
    }
  }
  .agRatingSelect,
  .agRatingDeSelect {
    height: 100%;
    img {
      width: auto;
      height: 17px;
      @include respondTo(desktop) {
        height: 17px;
      }
    }
  }
}
.recipe-rating--stars {
  .rr-inline-widget.rr-widget-container {
    font-size: 0;
  }
  .rr-inline-widget.rr-widget-container > * {
    display: none;
  }
}

// recipe rating widget

.rr-inline-widget.rr-widget-container .aggregateRating {
  display: inline-block;
}
