.recipe-rating {
  margin-bottom: 20px;
  min-height: 17px;

  .rr-widget-container {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 0;
    font-family: $arial;
    color: $black-blue;
    font-weight: normal;

    .tReview {
      font-size: 1.4rem;

      &:after {
        content: 'Comentários';
        margin-left: 5px;
      }
    }

    .wRtng {
      font-size: 0;
      display: inline-flex;

      &:after {
        content: '';
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.524' height='16.238'%3E%3Cg fill='none' stroke='%23363840' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10'%3E%3Cpath d='M18.024 12.69H8.881l-3.048 3.048V12.69H.5V.5h17.524z'/%3E%3Cpath d='M4.31 4.31h6.857M4.31 6.595h9.9M4.31 8.881h9.9'/%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        font-size: 1.4rem;
        width: 19px;
        height: 16px;
        margin-left: 5px;
      }
    }
  }

  .agRatingSelect,
  .agRatingDeSelect {
    height: 100%;

    img {
      width: auto;
      height: 17px;
      width: 100px;
    }
  }

  &.recipe-rating--stars {
    margin-bottom: 0;
    min-height: 30px;
    .rr-widget-container {
      font-size: 0;
    }

    .rr-widget-container > * {
      display: none;
    }
    .aggregateRating {
      display: inline-block;
    }
  }
}

// recipe rating widget

.rr-inline-widget.rr-widget-container .aggregateRating {
  display: inline-block;
}

.rr-review-section .postReviewStarRating .starRatingsContainer ul li {
  margin: 0 5px 0 0;
  width: 14px;
}
