@import '../../../scss/config';
.recipe-card--placeholder {
  position: relative;
  &__button {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $recepedia-orange;
    border: 0;
    border-radius: $radius;
    transition: all 0.2s;
    svg {
      width: 28px;
      height: 28px;
      transition: all 0.2s;
    }
    &:hover {
      border: 1px solid $black-blue;
      svg {
        transform: scale(1.5);
      }
    }
  }
}
