@import '../theme';
@import '../globalComponents';
@import '../components/RecipeCopy/_index.scss';
@import '../components/RecipeHero/_index.scss';
@import '../components/RecipeAttributes/_index.scss';
@import '../components/Reviews/_index.scss';
@import '../components/SocialSharing/_index.scss';
@import '../components/RecipeCard/_index.scss';
@import '../components/RecipeRating/_index.scss';
@import '../components/VideoPlayer/index.scss';
@import '../components/Tooltip/_index.scss';
