//class name for body to prevent scroll when modal is open
.modal--open{
  @extend .no-scroll;
}
.modal{
  &__overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: $blue-overlay-40;
    z-index: 100;
  }
  &__content{
    position: absolute;
    overflow: auto;
    outline: none;
    padding: 20px;
  }
  &__btn-close{
    @extend .button--icon;
    position: absolute;
    right: 0;
    top: 0;
    width: 54px;
    height: 54px;
    display: flex;
    svg{
      width: 16px;
      height: 16px;
      display: block;
      margin:auto;
    }
  }
}

%modal__content--small{//fullscreen mobile, small window on desktop
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  max-height: 100%;
  @include respondTo(desktop) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    right: auto;
    bottom: auto;
    width: 720px;
    height: auto;
    overflow: hidden;
    max-height:96vh;
  }
}

%modal__content--bordered{
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  max-height: 100%;
  box-sizing: border-box;
  background-color: $white;
  @include respondTo(desktop) {
    top: 50px;
    left: 70px;
    right: 70px;
    bottom: 50px;
    max-width: none;
  }
}
%modal__content--grounded{

}

.modal--search{ 
  @extend .container;
  .modal{
    &__content{
      @extend %modal__content--small;
      background-color: $white-gray;
      @include respondTo(desktop) {
        height: 475px;
      }
    } 
  }
}
.modal--filter{
  .modal{
    &__content{
      @extend %modal__content--bordered;
    } 
  } 
}

.modal--medium{

}

.modal--fullscreen{
  
}
