.tags {
  @extend ._pt--40;
  @extend ._pb--40;
  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
  }
  &__item {
    margin: 5px;
  }
  &__link {
    text-decoration: none;
    @extend .button;
    @extend .button--rounded;
    @extend .button--secondary;
    @extend .button--small;
    max-width: none;
    font-weight: normal;
    font-size: 1.4rem;
    &:hover {
      background: $apple-green;
      color: $black-blue;
    }
    span {
      display: table-cell;
      &:first-letter {
        text-transform: uppercase;
      }
    }
  }

  &__toggle {
    @extend .tags__link;
  }

  &__removable {
    @extend .tags__link;
    position: relative;
    padding-right: 45px;
    overflow: hidden;
    cursor: pointer;

    .tags__removable--button {
      position: absolute;
      top: 0;
      right: 5px;
      height: 100%;
      width: 40px;
      padding: 0;
      border: none;
      background-color: transparent;
      svg {
        width: 8px;
        height: 8px;
      }
    }
  }

  &__load-more {
    display: inline-block;
    margin: 5px;
    button {
      @extend .tags__link;
      max-width: none;
    }
  }
}
