.tags {
  margin: 35px 0;
  @include respondTo(desktop) {
    margin: 60px 0;
  }
  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
  }
  &__item {
    margin: 5px;
  }
  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    @extend .button;
    @extend .button--rounded;
    @extend .button--secondary;
    @extend .button--small;
    max-width: none;
    font-weight: normal;
    &:hover {
      background: $apple-green;
      color: $black-blue;
    }
  }

  &__toggle {
    @extend .tags__link;
  }

  &__removable {
    @extend .tags__link;
    position: relative;
    padding-right: 55px;

    .tags__removable--button {
      position: absolute;
      top: 0;
      right: 15px;
      height: 100%;
      width: 40px;
      padding: 0;
      border: none;
      background-color: transparent;
    }
  }

  &__load-more {
    display: inline-block;
    margin: 0 -10px;
    button {
      margin: 10px;
      @extend .tags__link;
      max-width: 130px;
    }
  }
}
