@import '../../scss/vars';
@import '../../scss/mixins';

.article-hub {
  &-title {
    &:before {
      background: $white;
      content: "";
      height: 26rem;
      display: block;
      position: absolute;
      width: 100vw;
      left: 0;
      top: 8rem;
      z-index: 0;
    }

    h1 {
      position: relative;
    }
  }

  &-wrap {
    :global(#content) {
      background-color: $white-gray;
    }
  }

  &-recipe-listing {
    :global {
      .slide-arrow {
        top: 11rem;
        @include respondTo(medium) {
          top: 16rem;
        }
      }
    }
  }

  &-tags {
    background: $white;
  }
}