@import '../../scss/config';

.social-sharing {
  &__dialog {
    :global {
      .social-sharing-in-modal {
        position: relative;
        left: auto;
        bottom: auto;
        right: auto;
        top: auto;
      }
    }
  }
}
:global {
  .social-sharing {
    &__button {
      margin-right: 45px;
      &:nth-last-child(1) {
        margin-right: 0;
      }

      &.knorr {
        svg {
          path {
            fill: $knorr-color-primary;
            stroke: $knorr-color-primary;
          }
        }
      }

      &.maizena {
        svg {
          path {
            fill: $maizena-color-primary;
            stroke: $maizena-color-primary;
          }
        }
      }

      &.hellmanns {
        svg {
          path {
            fill: $hellmans-color-primary;
            stroke: $hellmans-color-primary;
          }
        }
      }
    }
  }
}
