@import '../../scss/vars';
@import '../../scss/mixins';

.all-recipes {
  :global {
    .page-listing__title {
      font-size: 1.4rem;
      font-weight: normal;
      @include respondTo(desktop) {
        font-size: 2rem;
      }
    }
  }
  .allRecipesSortListing {
    background: $white-gray;
    border-radius: 15px;
    @include respondTo(desktop) {
      border-radius: 0 ;
    }
  }
}
