.recipe-list--carousel {
  padding: 0 25px;
  @include respondTo(desktop) {
    padding: 0 $layout-indent;
  }
  .carousel {
    .slide-arrow {
      &.right {
        top: calc(#{$recipe-card-height--mobile} / 2);
        transform: translate(50%, -50%);
        @include respondTo(medium) {
          top: calc(#{$recipe-card-height--desktop} / 2);
        }
      }
      &.left {
        top: calc(#{$recipe-card-height--mobile} / 2);
        transform: translate(-50%, -50%);
        @include respondTo(medium) {
          top: calc(#{$recipe-card-height--desktop} / 2);
        }
      }
    }
  }
}
