.progress-bar{
  background-color: $gray;
  height: 2px;
  width: 170px;
  margin-bottom: 25px;
  &__content{
    transition: width .2s ease-in;
    height: 2px;
    background:$fish-blue-darker;
  }
}
