@import 'src/scss/vars';
@import 'src/scss/mixins';

.contact-us {
  padding: 22px 25px 100px 25px;
  @include respondTo(desktop) {
    padding: 50px $layout-indent 100px;
  }

  h1 {
    margin-bottom: 5px;
    @include respondTo(desktop) {
      margin-bottom: 18px;
    }
  }
}

.cardholder {
  margin-top: 20px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  @include respondTo(desktop) {
    margin-top: 30px;
  }
}

.cardholder-item {
  width: 100%;
  @include respondTo(desktop) {
    width: calc(50% - 7.5px);
  }
}

.cardStretch {
  height: 100%;
}
