@import 'src/scss/vars';
@import 'src/scss/mixins';

.contact-us {

}

.cardholder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 1rem 0;
  width: 100%;
  flex-wrap: wrap;
}

.card {
  padding: 2rem;
  margin: 1rem;
  background-color: $white-gray;
  border-radius: 20px;
  min-width: calc(100% - 2rem);
  box-sizing: border-box;
}


