@import 'mixins';

.maizena {
  .bg-primary {
    background-color: $maizena-color-primary;
  }

  .bg-secondary {
    background-color: $maizena-background;
  }

  .brand-hero {
    &__logo {
      width: 100px;
      height: 70px;
      margin-bottom: 10px;

      @include respondTo(medium) {
        margin-bottom: 20px;
      }
      @include respondTo(desktop) {
        width: 230px;
        height: 162px;
      }
    }

    &__title {
      font: 900 5rem/1.2 $vivaStdBold;
      max-width: 100%;
      font-size: 30px;
      text-transform: uppercase;
      @include respondTo(medium) {
        max-width: 370px;
      }
      @include respondTo(desktop) {
        font-size: 6.5rem;
        line-height: 1;
        max-width: 765px;
      }
    }

    &__link {
      font-family: $proximaNovaBold;
      font-weight: 700;
      text-transform: capitalize;
      font-size: 1.8rem;

      @include respondTo(desktop) {
        font-size: 2.4rem;
      }
    }
  }

  .hero--planner {
    border-radius: 0;

    :global {
      .hero {
        &__copy {
          align-items: flex-start;
          padding-top: 0;
        }

        &__header h2 {
          @include title-transformer;
          text-transform: uppercase;
          font-size: 3rem;
          line-height: 1.33;

          @include respondTo(desktop) {
            padding-top: 100px;
            font-size: 4.5rem;
            line-height: 1.11;
          }
        }

        &__long-subheader p {
          @include text-transformer;
          font-size: 1.6rem;
          line-height: 1.25;
          @include respondTo(desktop) {
            font-size: 2rem;
            line-height: 1.2;
          }
        }

        &__cta-primary {
          .hero__cta-link {
            background: $maizena-color-secondary;
            color: $white;
            font-family: $proximaNovaNormal;
            font-weight: normal;
            white-space: nowrap;
            @media (hover: hover),
              (-ms-high-contrast: none),
              (-ms-high-contrast: active) {
              &:hover {
                color: $maizena-color-secondary;
                background-color: $maizena-color-primary;
                border: 1px solid $maizena-color-secondary;
              }
            }
          }
        }
      }
    }
  }

  #content {
    .brand {
      &-social {
        &__title {
          text-align: center;
          font-size: 3rem;
          @include title-transformer;
          text-transform: uppercase;
          @include respondTo(desktop) {
            font-size: 4.5rem;
          }
        }

        &__list {
          border-bottom: 1px solid $maizena-color-secondary;
          justify-content: center;
          padding-bottom: 20px;
          @include respondTo(desktop) {
            padding-bottom: 60px;
          }
        }
      }
    }

    .social {
      &-channels {
        &__icon {
          svg {
            fill: $maizena-color-secondary;
          }
        }
        &__link[aria-label='youtube'] {
          .youtube_svg__youtube-triangle {
            fill: $maizena-color-primary;
          }
        }
      }
    }
  }
}
.m-button-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0 15px;
  background-color: $maizena-color-secondary;
  color: $white;
  font: 400 1.4rem/1.29 $proximaNovaNormal;
  border: 1px solid $maizena-color-secondary;
  border-radius: 5px;
  transition: all 0.2s;
  @include respondTo(desktop) {
    font-size: 1.8rem;
    line-height: 1;
  }
  svg {
    fill: $white;
  }
  @media (hover: hover),
    (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
    &:hover {
      background-color: $maizena-color-primary;
      color: $maizena-color-secondary;
      svg {
        fill: $maizena-color-secondary;
      }
    }
  }
}
