@import '../../scss/config';

.product-listing {
  position: relative;

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: -5px;
  }

  &__button {
    width: $button-large-max-width;
    &-wrap {
      margin-top: 20px;
      text-align: center;
    }
  }

  :global {
    .adaptive-image__image {
      height: 25rem;
    }
  }
}
