@import 'src/scss/vars';
@import 'src/scss/mixins';
@import './../../scss/brands/hellmanns/_fonts.scss';
:global {
  @import './../../scss/brands/hellmanns/_theme.scss';
  @import './../../scss/components/Button/_index.scss';
}

.brand-promise-page {
  :global {
    .stand-for {
      h2 {
        @include respondTo(desktop) {
          margin-top: 20px;
        }
      }
      &-listing {
        .card {
          &__title {
            font-family: $timesNewRoman;
            text-transform: none;
          }
        }
      }
    }
    .promise-article {
      color: $hellmans-color-primary;
      position: relative;
      &__title {
        @extend .heading--underlined;
        @include respondTo(desktop) {
          margin-top: 20px;
        }
      }
      &__subtitle {
        font: 400 2rem/1.4 $trebuchetMsNormal;
        letter-spacing: 0.4px;
        text-align: center;
        padding-bottom: 28px;
        @include respondTo(desktop) {
          font-size: 2.5rem;
          line-height: 1.12;
          letter-spacing: 0.5px;
          padding-bottom: 20px;
        }
      }
      &__description {
        @include respondTo(desktop) {
          text-align: center;
        }
      }
      &__description,
      &__block,
      &__block p {
        font: 400 1.6rem/1.63 $trebuchetMsNormal;
        letter-spacing: 0.32px;
        margin-bottom: 20px;
        @include respondTo(desktop) {
          margin-bottom: 40px;
        }
      }
      &__block {
        @include respondTo(desktop) {
          display: flex;
          align-items: center;
        }
        strong {
          text-transform: uppercase;
          font: 900 1.6rem/1.63 $brandonGrotesqueBlack;
        }
      }
      &__block-image {
        margin-bottom: 30px;
        flex: 1;
      }
      &__block-text {
        flex: 1;
        @include respondTo(desktop) {
          margin-left: 90px;
        }
      }
      &__cta {
        @extend .h-button-dark;
        @extend .button--fullwidth;
        margin: 20px auto 70px;
        @include respondTo(desktop) {
          margin-top: 30px;
          height: 52px;
        }
      }
    }
    .up-to {
      &-listing {
        .listing__item {
          width: calc(100% - 10px);
          @include respondTo(desktop) {
            width: calc(50% - 16px);
          }
        }
        .card {
          &__info {
            padding: 15px 20px 25px;
            text-align: center;
            @include respondTo(desktop) {
              padding: 25px 28px 20px;
              text-align: left;
            }
          }
          &__title {
            font: 400 2.2rem/1.14 'Times New Roman', Times, serif;
          }
        }
      }
      .button {
        @extend .h-button-light;
        @extend .button--fullwidth;
        margin: 30px auto 0;
        @include respondTo(desktop) {
          margin: 50px auto 40px;
        }
      }
    }

    .recipe-list {
      &__header {
        @extend .heading--underlined
      }
    }
  }
}
