.modal--filter {
  .modal__overlay {
    top: auto;
    width: 100%;
    height: 100%;
  }
  .modal__content {
    display: flex;
    flex-direction: column;
    padding: 26px 25px 0 25px;
    overflow: initial;
    border-radius: 5px;
    margin-top: 5px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
    box-sizing: border-box;
    background-color: $white;
    @include respondTo(desktop) {
      top: 50px;
      left: 70px;
      right: 70px;
      bottom: 50px;
      max-width: none;
    }
    @include respondTo(desktop) {
      padding: 42px 55px 0 55px;
      bottom: 0 !important;
      margin-top: 0;
    }
  }
  .modal__header {
    width: 100%;
    box-sizing: border-box;
    color: $fish-blue-darker;
    > * {
      font-size: 2.5rem;
      @include respondTo(desktop) {
        font-size: 3.7rem;
      }
    }
  }
  #modal__description {
    height: 100%;
    position: relative;
  }
  .filter-settings {
    flex-basis: 100%;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;

    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 70px;
    @include respondTo(desktop) {
      padding-bottom: 0;
    }
    &__tagGroups {
      list-style-type: none;
      margin: 0;
      padding: 0;
      height: 100%;
      overflow-y: auto;
      @include respondTo(desktop) {
        overflow-y: auto;
        position: relative;
        display: flex;
        margin-top: 30px;
        border-bottom: 1px solid $white-gray;
        border-top: 1px solid $white-gray;
        overflow-x: hidden;
        justify-content: space-between;
      }
    }
    &__buttons {
      display: flex;
      justify-content: center;
      padding: 15px 0;

      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: $white;
      @include respondTo(desktop) {
        position: static;
        padding: 30px 0;
      }
      button + button {
        margin-left: 10px;
        @include respondTo(desktop) {
          margin-left: 16px;
        }
      }
    }
    &__reset {
      @extend .button;
      @extend .button--secondary;
      @extend .button--medium;
    }
    &__apply {
      @extend .button;
      @extend .button--medium;
    }

    &__category-item {
      border-bottom: 1px solid $white-gray;
      flex: 1;
      padding: 10px 0;
      @include respondTo(desktop) {
        border-bottom: 0;
      }
    }
    &__category-header {
      @include respondTo(desktop) {
        height: 100%;
        display: flex;
        flex-direction: column;
      }
      .accordion__title {
        @extend h4;
        color: $fish-blue-darker;
        display: flex;
        justify-content: space-between;
        font-size: 1.8rem;
        @include respondTo(desktop) {
          position: fixed;
          transform: translateY(-45px);
        }

        svg {
          transition: transform 0.2s;
          @include respondTo(desktop) {
            display: none;
          }
        }
      }
      .accordion__body {
        transition: max-height 0.2s;
        height: auto;
        max-height: 80px;
        overflow: hidden;
        padding: 0;
        @include respondTo(desktop) {
          overflow: visible;
          max-height: none;
          flex: 1;
          padding-bottom: 0;
        }
      }
      &.is-opened {
        .accordion__title {
          svg {
            transform: rotate(180deg);
          }
        }
        .accordion__body {
          max-height: 2000px;
        }
        .tags__list {
          white-space: normal;
          overflow-x: initial;
          flex-wrap: wrap;
        }
      }
      .tags {
        margin: 0;
        padding: 10px 0 0 0;
        transition: all 0.2s;
        @include respondTo(desktop) {
          padding: 0;
        }

        &__list {
          padding: 10px 0;
          display: flex;
          flex-wrap: nowrap;
          overflow-x: auto;
          @include respondTo(desktop) {
            display: flex;
            flex-direction: column;
            white-space: normal;
            overflow-x: initial;
            margin: 0;
            padding: 0 10px 0 2px;
          }
        }
        &__item {
          display: inline-block;
          @include respondTo(desktop) {
            margin: 5px 0;
          }
          .tags__toggle {
            width: auto;
            padding: 0 20px;
          }
        }
        &__link {
          white-space: nowrap;
        }
      }
    }
  }
}
