.rc-tooltip {
  font-size: 14px;
  background: rgba(97, 97, 97, 0.95);
  padding: 10px;
  border-radius: 5px;
  color: white;
  position: relative;
  @include respondTo(medium) {
    width: 250px;
    transform: translate(-50%, -50%);
  }
}
