.recipe-reviews {
  .rr-widget-container {
    @include respondTo(medium) {
      border-bottom: 1px solid #d8d8d8;
      padding-bottom: 20px;
    }
  }

  .reviews-container {
    @include respondTo(medium) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
    }
    .review-block {
      border-bottom: 1px solid #d8d8d8;
      &:first-child {
        border-top: 1px solid #d8d8d8;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .rr-product-reviews {
    margin: 0;
    h2 {
      font-size: 2.1rem;
      font-weight: 500;
      line-height: 1.33;
      text-align: left;
      color: $black-blue;
      margin-bottom: 20px;
      padding: 0;
      font-family: $rubik;
      @include respondTo(desktop) {
        font-size: 2.5rem;
      }
    }

    .sort-container {
      display: none;
    }

    .averageRingBlock {
      padding: 0;
      background-color: transparent;
      margin: 0 0 30px 0;
      h3 {
        display: none;
      }
    }

    .average-rating {
      display: flex;
      align-items: center;
      .aggregateRating {
        margin-right: 25px;
        img {
          height: 17px;
          width: auto;
        }
      }

      .total-reviews {
        margin: 0;
        display: flex;
        align-items: center;
        line-height: 1;
        font-size: 14px;
        position: relative;

        .aggRtng {
          font-size: 4.8rem;
          font-weight: 500;
          line-height: 0.75;
          color: $black-blue;
          font-family: $rubik;
          background: none;
          margin-right: 10px;
          padding: 0;
          position: relative;
          &:after {
            content: '';
            height: 35px;
            padding-left: 25px;
            border-right: 1px solid $black-blue;
          }
        }
        .tRtng {
          margin-left: 0;
          line-height: 1;
          font-size: 14px;
        }
      }
    }

    .write-review-btn {
      @extend .button;
      width: 100%;
      position: relative;
      top: 0;
      left: 0;
      display: block;
      text-align: center;
      line-height: 40px;
      margin: 25px auto 0 auto;
      &:before {
        content: '';
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.524' height='16.238'%3E%3Cg fill='none' stroke='%23363840' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10'%3E%3Cpath d='M18.024 12.69H8.881l-3.048 3.048V12.69H.5V.5h17.524z'/%3E%3Cpath d='M4.31 4.31h6.857M4.31 6.595h9.9M4.31 8.881h9.9'/%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        display: inline-block;
        font-size: 14px;
        width: 19px;
        height: 15px;
        margin-right: 10px;
        vertical-align: middle;
        transition: all 0.2s ease-out;
        will-change: background-image;
      }
      &:hover {
        &:before {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.524' height='16.238'%3E%3Cg fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10'%3E%3Cpath d='M18.024 12.69H8.881l-3.048 3.048V12.69H.5V.5h17.524z'/%3E%3Cpath d='M4.31 4.31h6.857M4.31 6.595h9.9M4.31 8.881h9.9'/%3E%3C/g%3E%3C/svg%3E");
        }
      }
      @include respondTo(medium) {
        max-width: 352px;
      }
    }

    .review-block {
      border-top: none;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      @include respondTo(medium) {
        display: flex;
      }

      .review-rightBlock {
        width: 100%;
        @include respondTo(medium) {
          padding-top: 25px;
          max-width: 480px;
        }
      }
      .review-leftBlock {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        @include respondTo(medium) {
          width: 29%;
          flex-direction: column;
          align-items: flex-start;
        }
        & > * {
          margin: 0;
          padding: 0;
          flex: auto;
          @include respondTo(medium) {
            flex: 0 1 auto;
          }
        }
        h3 {
          order: 4;
          width: 100%;
          text-align: left;
          margin-top: 21px;
          font-size: 2.1rem;
          font-weight: 500;
          line-height: 1.33;
          color: $black-blue;
          margin-bottom: 14px;
          font-family: $rubik;
          @include respondTo(medium) {
            order: 1;
            margin-top: 0;
            margin-bottom: 5px;
          }
        }
        .rating-container {
          display: flex;
          order: 1;
          align-items: center;
          img {
            height: 17px;
            width: auto;
          }
          .aggRtng {
            margin: 0;
            padding: 0;
            font-size: 1.4rem;
            line-height: 1;
            font-weight: normal;
            margin-left: 10px;
          }
        }
        .reviewer-name {
          order: 2;
          font-size: 1.6rem;
          line-height: 1.13;
          color: $fish-blue-darker;
          @include respondTo(medium) {
            order: 1;
            margin-left: 0;
            margin-bottom: 10px;
          }
        }
        .reviewDate {
          order: 3;
          border-left: none;
          font-size: 1.2rem;
          line-height: 1.17;
          color: $black-blue;
          position: relative;
          top: 0;
          right: 0;
          text-align: right;
          @include respondTo(medium) {
            position: absolute;
            right: 0;
            top: 60px;
          }
        }
      }
      .rr-comments {
        font-size: 1.4rem;
        line-height: 1.29;
        text-align: left;
        color: $black-blue;
        margin: 0;
      }
      .socialBtn {
        display: none;
      }
      .feedback-container {
        width: 100%;
        margin: 25px 0 0 0;
        padding: 0;
        background: none;
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2rem;
        @include respondTo(medium) {
          justify-content: flex-start;
        }
        dd,
        dt {
          flex: 2 2 auto;
          float: none;
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-around;
          background-image: none;
          @include respondTo(medium) {
            flex: 0 1 auto;
          }
        }
        dt {
          flex: 1 1 auto;
          justify-content: flex-start;
          @include respondTo(medium) {
            flex: 0 1 auto;
          }
        }
        dd:nth-last-child(1) {
          flex: 1 1 auto;
          justify-content: flex-end;
          @include respondTo(medium) {
            flex: 0 1 auto;
          }
        }
        a {
          @extend .button;
          @extend .button--secondary;
          font-size: 1.2rem;
          display: flex;
          align-items: center;
          border-radius: 20px;
          background-image: none;
          height: 31px;
          padding: 0 15px;
          width: auto;
          margin: 0;
          &:not(.report-btn) {
            &:before {
              display: inline-block;
              position: relative;
            }
            &:after {
              display: inline-block;
              position: relative;
              content: ')';
            }
            &.helpful {
              @include respondTo(medium) {
                margin-left: 29px;
              }
              &:before {
                content: 'Yes (';
              }
            }
            &.un-helpful {
              @include respondTo(medium) {
                margin-left: 29px;
              }
              &:before {
                content: 'No (';
              }
            }
          }
        }
      }
    }
  }
}

#rr-lightbox .rr-modalWidowcontent.rr-alertBox {
  padding: 37px 79px 37px;
  display: flex;
  align-items: center;
  h3 {
    margin: 0;
    text-align: center;
  }
  #content {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .rr-submission-form .rr-product-info {
    border-bottom: none;
    height: 0;
    overflow: hidden;
  }
  body #rr-lightbox {
    position: fixed;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}
