.recipe-reviews {
  .rr-widget-container {
    @include respondTo(medium) {
      border-bottom: 1px solid #d8d8d8;
      padding-bottom: 20px;
    }
  }

  .reviews-container {
    @include respondTo(medium) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
    }
    .review-block {
      border-bottom: 1px solid #d8d8d8;
      &:first-child {
        border-top: 1px solid #d8d8d8;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .rr-feedback-msg {
    margin-bottom: 10px;
    @include respondTo(desktop) {
      margin-bottom: 15px;
    }
  }
  .rr-product-reviews {
    margin: 0;
    h2 {
      font: 500 2.1rem/1.33 $rubik;
      text-align: left;
      color: $black-blue;
      margin-bottom: 20px;
      padding: 0;
      @include respondTo(desktop) {
        font-size: 2.5rem;
      }
    }

    .sort-container {
      display: none;
    }

    .averageRingBlock {
      padding: 0;
      background-color: transparent;
      margin: 0 0 30px 0;
      h3 {
        display: none;
      }
    }

    .average-rating {
      display: flex;
      align-items: center;
      @media screen and (max-width: 359px) {
        flex-flow: column-reverse;
        align-items: flex-start;
      }

      .aggregateRating {
        margin-left: 0;
        margin-right: 20px;

        img {
          height: 17px;
          width: auto;
        }
      }

      .total-reviews {
        margin: 0;
        display: flex;
        align-items: center;
        line-height: 1;
        font-size: 14px;
        position: relative;
        @media screen and (max-width: 374px) {
          height: 80px;
        }

        .aggRtng {
          font: 500 4.8rem/0.75 $rubik;
          color: $black-blue;
          background: none;
          margin-right: 20px;
          padding: 0;
          position: relative;
          &:after {
            content: '';
            height: 35px;
            padding-left: 20px;
            border-right: 1px solid $black-blue;
          }
        }
        .tRtng {
          margin-left: 0;
          line-height: 1;
          font-size: 14px;
        }
      }
    }

    .write-review-btn {
      @extend .button;
      width: 100%;
      position: relative;
      top: 0;
      left: 0;
      display: flex;
      text-align: center;
      margin: 25px auto 0 auto;
      &:before {
        content: '';
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.524' height='16.238'%3E%3Cg fill='none' stroke='%23363840' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10'%3E%3Cpath d='M18.024 12.69H8.881l-3.048 3.048V12.69H.5V.5h17.524z'/%3E%3Cpath d='M4.31 4.31h6.857M4.31 6.595h9.9M4.31 8.881h9.9'/%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        display: inline-block;
        font-size: 14px;
        width: 19px;
        height: 15px;
        margin-right: 10px;
        vertical-align: middle;
        transition: all 0.2s ease-out;
        will-change: background-image;
      }
      &:hover {
        &:before {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.524' height='16.238'%3E%3Cg fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10'%3E%3Cpath d='M18.024 12.69H8.881l-3.048 3.048V12.69H.5V.5h17.524z'/%3E%3Cpath d='M4.31 4.31h6.857M4.31 6.595h9.9M4.31 8.881h9.9'/%3E%3C/g%3E%3C/svg%3E");
        }
      }
      @include respondTo(medium) {
        max-width: 352px;
      }
    }

    .review-block {
      border-top: none;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
      width: 100%;
      @include respondTo(medium) {
        display: flex;
        padding-top: 44px;
      }
      .reviewDate {
        font-size: 1.2rem;
        position: absolute;
        right: 0;
        @include respondTo(medium) {
          top: 28px;
        }
      }
      h3 {
        font: 500 2.1rem/1.33 $rubik;
        color: $black-blue;
      }
      .reviewer-name {
        font-family: $arial;
        font-size: 1.6rem;
        color: $black-blue;
      }
      .aggregateRating {
        img {
          height: 17px;
          width: auto;
        }
      }
      .aggRtng {
        display: none;
      }
      .rr-comments {
        font-size: 1.4rem;
        line-height: 1.29;
        text-align: left;
        color: $black-blue;
        margin: 0;
      }
      .socialBtn {
        font-size: 1.4rem;
        color: $black-blue;
        font-weight: bold;
        @include respondTo(medium) {
          position: absolute;
          bottom: 43px;
        }
        span {
          margin: 0 0 0 25px;
          display: inline-block;
        }
        img {
          height: 21px;
          transition: transform 0.2s ease-out;
        }
        a {
          @media (hover: hover),
            (-ms-high-contrast: none),
            (-ms-high-contrast: active) {
            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }
      .rr-col {
        position: static;
        @include respondTo(medium) {
          position: relative;
        }
        &.column02 {
          padding-top: 28px;
        }
      }
      .feedback-container {
        width: 100%;
        margin: 25px 0;
        padding: 0;
        font-family: $arial;
        background: none;
        font-size: 1.4rem;
        @include respondTo(medium) {
          margin-bottom: 54px;
        }
        dd,
        dt {
          display: inline-block;
          background-image: none;
          margin: 0;
        }
        dt {
          display: block;
          margin-bottom: 15px;
          @include respondTo(desktop) {
            display: inline-block;
            margin-bottom: 0;
            margin-right: 40px;
          }
        }
        a {
          @extend .button;
          @extend .button--secondary;
          font-size: 1.2rem;
          font-family: $arial;
          border-radius: 20px;
          background-image: none;
          height: 31px;
          padding: 0 15px;
          width: auto;
          margin: 0 26px 0 0;
          &:not(.report-btn) {
            &:before {
              display: inline-block;
              position: relative;
            }
            &:after {
              display: inline-block;
              position: relative;
              content: ')';
            }
            &.helpful {
              &:before {
                content: 'Yes (';
              }
            }
            &.un-helpful {
              &:before {
                content: 'No (';
              }
            }
          }
        }
        dd:last-child {
          a {
            margin: 0;
          }
        }
      }
    }
  }
}

#rr-lightbox .rr-modalWidowcontent.rr-alertBox {
  padding: 37px 79px 37px;
  display: flex;
  align-items: center;
  h3 {
    margin: 0;
    text-align: center;
  }
  #content {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .rr-submission-form .rr-product-info {
    border-bottom: none;
    height: 0;
    overflow: hidden;
  }
  body #rr-lightbox {
    position: fixed;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}
