/* ----------------------------------------------------------------------------- *\
   BREAKPOINTS
\* ----------------------------------------------------------------------------- */
// $bp-small: 480px;
$bp-medium: 768px;
// $bp-large: 992px;
// $bp-extra-large: 1200px;
$bp-desktop: 1366px;

// usage example
// a {
//    @include respondTo(desktop) {
//      &:hover { background: blue; } // only add the hover effect on desktop browsers
//    }
// }

/* ----------------------------------------------------------------------------- *\
   COLORS
\* ----------------------------------------------------------------------------- */
$recepedia-orange: #ff7875;
$fish-blue-darker: #4c6b7f;
$apple-green: #b6dc85;
$luminous-yellow: #facc00;
$black-blue: #363840;
$white-gray: #f4f7f9;
$white-gray-darker: #e4eaef;
$white: #ffffff;
$blue-overlay-40: rgba(88, 124, 148, 0.4);
$pink-overlay-80: rgba(255, 120, 117, 0.8);
$apple-green-overlay-80: rgba(182, 220, 133, 0.8);

$gray: #c3c3c3;

$primary-color: $recepedia-orange;
$page-overlay-color: $blue-overlay-40;
$item-overlay-color: $apple-green-overlay-80;
$alert-color: #fc5959;
$primary-bg-color: $white-gray;

/* ----------------------------------------------------------------------------- *\
   FONTS
\* ----------------------------------------------------------------------------- */
$rubik: 'Rubik', sans-serif;
$arial: Arial, Helvetica, sans-serif;

//Knorr
$filsonSoftBold: 'Filson Soft W03 Bold', sans-serif;

//Hellmanns
$brandonGrotesqueBlack: 'brandon-grotesque', sans-serif; //font-weight: 900;
$brandonGrotesqueBold: 'brandon-grotesque', sans-serif; //font-weight: 700;
$trebuchetMsBold: 'Trebuchet W01 Bold', sans-serif; //font-weight: 700;
$trebuchetMsNormal: 'Trebuchet W01 Regular', sans-serif; //font-weight: 400;
$timesNewRoman: 'Times New Roman', Times, serif;

//Maizena
$vivaStdBold: 'viva-std', sans-serif; //font-weight: 700;
$proximaNovaBold: 'proxima-nova', sans-serif; //font-weight: 700;
$proximaNovaNormal: 'proxima-nova', sans-serif; //font-weight: 400;

/* ----------------------------------------------------------------------------- *\
   LAYOUT
\* ----------------------------------------------------------------------------- */
$layout-indent-sm: 25px;
$layout-indent: calc(49.9% - 544px);

/* ----------------------------------------------------------------------------- *\
   RECIPE CARD HEIGHT SIZES
\* ----------------------------------------------------------------------------- */
$recipe-card-height--mobile: 225px;
$recipe-card-height--desktop: 320px;

/* ----------------------------------------------------------------------------- *\
   RECIPE LISTING HEIGHT SIZES
\* ----------------------------------------------------------------------------- */
$page-listing-image-height--mobile: 180px;
$page-listing-image-height--desktop: 315px;
$page-listing-card-height--mobile: 100px;
$page-listing-card-height--desktop: 195px;

/* ----------------------------------------------------------------------------- *\
   BRANDS VARS
\* ----------------------------------------------------------------------------- */

////// BRANDS TYPOGRAPHY //////

$knorr-h1-fz: 86px;
$knorr-h2-fz: 45px;
$knorr-h3-fz: 40px;
$knorr-h4-fz: 28px;
$knorr-h5-fz: 26px;
$knorr-h6-fz: 25px;
$knorr-h7-fz: 20px;
$knorr-ff-primary: 'Filson Soft', sans-serif;
$knorr-ff-secondary: 'Rubik', sans-serif;
$knorr-title-fw: bold;
$knorr-text-fz: 14px;
$knorr-text-fz-lg: 16px;
$knorr-text-ff: Areal, sans-serif;

$hellmanns-h1-fz: 5rem;
$hellmanns-h2-fz: 3rem;
$hellmanns-h3-fz: 1.8rem;
$hellmanns-h4-fz: 2.2rem;
$hellmanns-h5-fz: 2rem;
$hellmanns-h1-fz-lg: 10.1rem;
$hellmanns-h2-fz-lg: 4.5rem;
$hellmanns-h3-fz-lg: 2.4rem;
$hellmanns-h4-fz-lg: 2.5rem;
$hellmanns-h5-fz-lg: 2rem;
$hellmanns-ff: 'Brandon Grotesque', sans-serif;
$hellmanns-title-fw: bold;
$hellmanns-text-fz: 14px;
$hellmanns-text-fz-lg: 16px;
$hellmanns-text-ff: 'Trebuchet MS', sans-serif;

$maizena-h1-fz: 565px;
$maizena-h2-fz: 45px;
$maizena-h3-fz: 25px;
$maizena-h4-fz: 20px;
$maizena-ff-primary: 'Viva Std', sans-serif;
$maizena-ff-secondary: 'Proxima Nova', sans-serif;
$maizena-title-fw: bold;
$maizena-text-fz: 16px;

////// BRANDS COLORS//////

$knorr-color-primary: #007a33;
$knorr-color-primary-hover: #facc00;
$knorr-color-secondary: #fff;
$knorr-text-color: #777777;

$hellmans-color-primary: #004976;
$hellmans-color-secondary: #fdf6e8;
$hellmans-background: #fdf6e8;

$maizena-color-primary: #facc00;
$maizena-color-secondary: #000;
$maizena-background: #f6efeb;

%link--inline {
  color: inherit;
  text-decoration: underline;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

%link--external {
  //a[target="_blank"]
  &:after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjEzIiBoZWlnaHQ9IjEzIiBmaWxsPSIjMzYzODQwIj48cGF0aCBkPSJNMTkgMTlINVY1aDdWM0g1YTIgMiAwIDAgMC0yIDJ2MTRhMiAyIDAgMCAwIDIgMmgxNGMxLjEgMCAyLS45IDItMnYtN2gtMnY3ek0xNCAzdjJoMy41OWwtOS44MyA5LjgzIDEuNDEgMS40MUwxOSA2LjQxVjEwaDJWM2gtN3oiLz48cGF0aCBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDBWMHoiLz48L3N2Zz4=); //$black-blue
    background-repeat: no-repeat;
    content: '';
    height: 1em;
    width: 1em;
    margin: 0 0.1875rem 0 0.25rem;
    vertical-align: middle;
    display: inline-block;
  }
}
