@import 'src/scss/vars';
@import 'src/scss/mixins';

.home-hero-carousel:global(.bg--half) {
  &:before {
    background-color: $white-gray;
  }
}

.recipe-spinner{
  position: relative;
  padding: 1% 35%;
  box-sizing: content-box;
  max-width: 30%;
  z-index: 10;
}
