@import '../../scss/vars';
@import '../../scss/mixins';

.faq {
  padding: 20px $layout-indent-sm 167px;
  @include respondTo(desktop) {
    padding: 40px $layout-indent 145px;
  }
  &__title {
    margin-bottom: 28px;
    @include respondTo(desktop) {
      font-size: 4.5rem;
      margin-bottom: 45px;
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    @include respondTo(desktop) {
      padding: 0 185px 0 0;
    }
    &-item {
      overflow: hidden;
      & + .faq__list-item {
        border-top: 1px solid $black-blue;
      }
      &:first-child {
        border-radius: 4px 4px 0 0;
      }
      &:last-child {
        border-radius: 0 0 4px 4px;
      }
    }
  }

  &__question {
    :global {
      .accordion__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $white-gray;
        min-height: 70px;
        font: bold 1.2rem/1.33 $arial !important;
        padding: 5px 5px 5px 15px;
        cursor: pointer;
        transition: all 0.2s;
        @include respondTo(desktop) {
          min-height: 80px;
          padding: 8px 10px 8px 27px;
          font-size: 1.4rem !important;
          line-height: 1.29;
        }
        @media (hover: hover),
          (-ms-high-contrast: none),
          (-ms-high-contrast: active) {
          &:hover {
            background-color: $apple-green;
          }
        }
        &-logo {
          display: flex;
          align-items: center;
          svg {
            height: 45px;
            width: auto;
            max-width: 76px;
            @include respondTo(desktop) {
              height: 53px;
              max-width: 90px;
            }
          }
        }
        & > svg {
          transition: all 0.3s;
          will-change: transform;
          display: inline-block;
          flex-shrink: 0;
          margin: 10px;
          @include respondTo(desktop) {
            margin: 15px;
          }
        }
      }
      .accordion__body {
        transform-origin: 0 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s linear;
        background-color: $white-gray;
        & * {
          font: normal 1.2rem/1.33 $arial;
          @include respondTo(desktop) {
            font: normal 1.4rem/1.29 $arial;
          }
        }
        a {
          @extend %link--inline;
          &[target='_blank'] {
            @extend %link--external;
          }
        }
        ul,
        ol {
          list-style-type: disc;
          padding-top: 10px;
          padding-bottom: 10px;
        }
        li {
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }
  }
  &__answer {
    padding: 20px 15px;
    @include respondTo(desktop) {
      padding: 20px 20px 20px 27px;
    }
  }
  &__sublist {
    padding: 20px 27px;
    @include respondTo(desktop) {
      padding: 20px 76px;
    }
    li.faq__list-item {
      padding: 0;
      :global {
        .accordion__title {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
    .faq__answer {
      padding: 0 40px 20px 0;
      @include respondTo(desktop) {
        padding-right: 103px;
      }
    }
  }
  :global {
    .faq__question {
      &.is-opened {
        & > .accordion__title {
          & > svg {
            transform: rotate(180deg);
          }
        }
        & > .accordion__body {
          max-height: 1500px;
        }
      }
    }
  }
  .faq__sublist {
    :global {
      .faq__question {
        &.is-opened {
          & > .accordion__body {
            max-height: 400px;
          }
        }
      }
    }
  }
}
