@import 'src/scss/vars';
@import 'src/scss/mixins';
@import './../../scss/brands/knorr/_fonts.scss';
@import './../../scss/brands/knorr/mixins';
:global {
  @import './../../scss/brands/knorr/index.scss';
}

.brand-product-page {
  .product {
    &__attributes {
      &-wrapper {
        h2,
        h3 {
          @include title-transformer;
          font-size: 2.4rem;
        }
      }

      &-related {
        h3 {
          text-transform: initial !important;
        }
        &-button {
          @include title-transformer;
          background: $knorr-color-primary;
          border: 0.1rem solid $white;
          @media (hover: hover),
            (-ms-high-contrast: none),
            (-ms-high-contrast: active) {
            &:hover {
              background-color: $knorr-color-primary-hover;
            }
          }
        }
      }
    }
  }

  :global {
    .product {
      &-copy {
        &__title {
          font-family: $filsonSoftBold;
          color: $knorr-color-primary;
          font-size: 2.4rem;
          text-transform: capitalize;
          @include respondTo(desktop) {
            font-size: 3.6rem;
          }
        }

        &__description {
          color: #777;
          font-size: 1.4rem;
          @include respondTo(desktop) {
            font-size: 1.6rem;
          }
        }

        &-ingredients,
        &-allergens {
          &__title {
            @include title-transformer;
          }

          &__data {
            color: $white;
          }
        }
      }
      &-nutrients {
        table {
          color: $white;
        }
      }

      &__heading {
        &-button {
          background: $knorr-color-primary;
          font-size: 1.4rem;
          text-transform: initial;
          @include respondTo(desktop) {
            font-size: 1.6rem;
          }
          @media (hover: hover),
            (-ms-high-contrast: none),
            (-ms-high-contrast: active) {
            &:hover {
              background-color: $knorr-color-primary-hover;
            }
          }
        }
      }
    }

    .card {
      &__title,
      &__description {
        @include title-transformer;
      }

      &__title {
        font-size: 2rem;
      }

      &__description {
        color: $white;
        font-family: $arial;
      }
    }
  }
}
