@import 'src/scss/vars';
@import 'src/scss/mixins';
@import './../../scss/brands/hellmanns/_fonts.scss';

:global {
  @import './../../scss/brands/hellmanns/_theme.scss';
  @import './../../scss/components/Button/_index.scss';
}

.brand-product-page {
  .product {
    &__heading {
      &-button {
        background: $hellmans-color-primary;
      }
    }

    &__attributes {
      &-related {
        &-button {
          color: $hellmans-color-primary;
        }
      }
    }
  }

  :global {
    .product {
      &-copy {
        &__title {
          font-family: $trebuchetMsBold;
          color: $hellmans-color-primary;

        }

        &__description {
          font-family: $trebuchetMsNormal;
          color: $hellmans-color-primary;
        }
      }

      &__heading {
        &-button {
          background: $hellmans-color-primary;
        }
      }
    }
  }
}
