@import 'src/scss/vars';
@import 'src/scss/mixins';
@import './../../scss/brands/hellmanns/_fonts.scss';

:global {
  @import './../../scss/brands/hellmanns/_theme.scss';
  @import './../../scss/components/Button/_index.scss';
}

.brand-product-page {
  .product {
    &__attributes {
      margin-top: 1rem;
      &-wrapper {
        h2,
        h3,
        div {
          color: $white;
        }
      }

      h3 {
        font-family: $brandonGrotesqueBold;
      }
      &-related {
        h3 {
          font-family: $brandonGrotesqueBold;
        }
        &-button {
          @extend .h-button-light;
          @extend .button--fullwidth;
          margin: 50px auto 40px;
          font-size: 1.5rem;
        }
      }
    }

    &__nutrients {
      font-family: $trebuchetMsNormal;
    }
  }

  :global {
    .product {
      &-copy {
        &__title {
          font-family: $brandonGrotesqueBold;
          color: $hellmans-color-primary;
        }

        &__description {
          font-family: $trebuchetMsNormal;
          color: $hellmans-color-primary;
        }

        &-ingredients,
        &-allergens {
          &__data {
            font-family: $trebuchetMsNormal;
          }
        }
      }

      &__heading {
        &-button {
          // background: $hellmans-color-primary;
          @extend .h-button-dark;
          @include respondTo(desktop) {
            font-size: 1.8rem;
            height: 60px;
          }
        }
      }
    }
  }
}

:global {
  .hellmanns .cards--light .card {
    background: transparent;

    &__title {
      font-family: $brandonGrotesqueBold;
      color: $white;
      text-transform: uppercase;
    }

    &__description {
      font-family: $arial;
      color: $white;
    }
  }
}
