@import 'src/scss/vars';
@import 'src/scss/mixins';
@import './../../scss/brands/maizena/mixins';

:global {
  @import './../../scss/brands/maizena/index.scss';
  @import './../../scss/components/Button/_index.scss';
}

.brand-product-page {
  .product {
    &__attributes {
      &-wrapper {
        h2,
        h3 {
          @include title-transformer;
        }
      }

      &-related {
        &-button {
          @extend .m-button-dark;
          @extend .button--fullwidth;
          margin: 50px auto 40px;
          font-size: 1.6rem;
          text-transform: initial;
        }
      }
    }
  }

  :global {
    .product {
      &-copy {
        &__title {
          @include title-transformer;
        }

        &__description {
          @include text-transformer;
        }

        &-ingredients,
        &-allergens {
          &__title {
            @include title-transformer;
          }

          &__data {
            @include text-transformer;
          }
        }
      }

      &__heading {
        &-button {
          @include text-transformer;
          background: $maizena-color-primary;
          text-transform: capitalize;
          font-size: 1.4rem;
          padding: 0 15px;
          @include respondTo(desktop) {
            font-size: 1.8rem;
          }
          @media (hover: hover),
            (-ms-high-contrast: none),
            (-ms-high-contrast: active) {
            &:hover {
              color: $maizena-color-primary;
              background-color: $maizena-color-secondary;
              svg {
                fill: $maizena-color-primary;
              }
            }
          }
        }
      }

      &-nutrients {
        table {
          @include text-transformer;
        }
      }
    }

    .card {
      &__title,
      &__description {
        @include title-transformer;
      }

      &__description {
        @include text-transformer;
      }
    }
  }
}
