@import '../../scss/config';

:global {
  .global-navigation {
    &.open {
      // navigation is open on mobi;e, does not influence desktop
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 10;
      @include respondTo(desktop) {
        position: static;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background: $header-navigation-background;
        width: 100%;
        height: 100%;
        z-index: -1;
        @include respondTo(desktop) {
          display: none;
        }
      }

      .global-navigation__profile {
        transition: 0.2s ease-in-out;
        opacity: 1;
        visibility: visible;
        display: flex;
        position: fixed;
        background: $white;
        width: 100%;
        height: 50px;
        left: 0;
        bottom: -1px;
        box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.15);
        @include respondTo(desktop) {
          position: relative;
          background: initial;
          height: auto;
          width: auto;
          box-shadow: none;
        }
      }

      .navigation {
        bottom: 48px;
        @include respondTo(desktop) {
          bottom: auto;
        }
      }

      .burger-button {
        &__icon {
          &:before {
            transform: rotate(45deg);
          }

          &:after {
            position: relative;
            width: 28px;
            top: -3px;
            transform: rotate(-45deg);
          }
        }
      }
    }

    &__profile {
      display: flex;
      position: relative;
      align-items: center;
      text-decoration: none;
      font: 500 1.8rem $rubik;
      color: $header-color;
      fill: $header-icon-color;
      opacity: 0;
      visibility: hidden;
      will-change: opacity, visibility;
      padding-left: $layout-indent-sm;
      padding-right: $layout-indent-sm;

      &:hover {
        color: $fish-blue-darker;
      }

      @include respondTo(desktop) {
        font-size: 1.4rem;
        opacity: 1;
        visibility: visible;
        padding: 0;
      }

      svg {
        margin-right: 20px;
      }
    }

    .burger-button {
      display: inline-block;
      background: none;
      border: none;
      outline: none;
      padding: 0;
      text-align: left;
      margin: -10px;
      @include respondTo(desktop) {
        display: none;
      }

      &__icon {
        position: relative;
        display: inline-block;
        padding: 10px;
        z-index: 2;

        &:before {
          content: '';
          display: block;
          width: 28px;
          height: 3px;
          background: $header-icon-color;
          transform: translateY(-5px);
          transition: all 0.25s ease-in-out;
        }

        &:after {
          content: '';
          display: block;
          width: 22px;
          height: 3px;
          background: $header-icon-color;
          transform: translateY(5px);
          transition: all 0.25s ease-in-out;
          will-change: width;
        }
      }
    }

    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 15;
      background: transparent;
      height: $header-height;
      padding-left: $layout-indent-sm;
      padding-right: $layout-indent-sm;

      @include respondTo(desktop) {
        position: relative;
        padding-left: $layout-indent;
        padding-right: $layout-indent;
      }

      .navigation {
        position: absolute;
        top: $header-height;
        left: 0;
        bottom: 0;
        width: 100%;
        background: $header-navigation-background;
        will-change: transform;
        transform: translate3d(-110%, 0, 0);
        transition-property: transform, visibility;
        visibility: hidden;
        color: $header-color;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: -80px;
          background: $header-navigation-background;
          width: 100%;
          height: 100%;
          z-index: -1;
          @include respondTo(desktop) {
            display: none;
          }
        }

        // TEMPORARY STYLE ---------------------------------------------------------------------------------------------//
        button {
          display: none;
        }

        // TEMPORARY STYLE END ---------------------------------------------------------------------------------------------//

        &.active {
          transition-duration: 0.25s;
          visibility: visible;
          transform: translate3d(0, 0, 0);

          .menu {
            overflow-y: auto;
            @include respondTo(desktop) {
              overflow-y: visible;
            }
          }
        }

        @include respondTo(desktop) {
          position: relative;
          display: flex;
          align-items: center;
          height: 100%;
          background: transparent;
          width: auto;
          max-width: 40rem;
          transform: none;
          visibility: visible;
          top: auto;
          margin-right: auto;
          min-height: 0px;
          &.active {
            visibility: visible;
            transform: none;
          }
        }
      }

      .main-logo {
        position: absolute;
        top: #{$header-height/2};
        left: 50%;
        transform: translate(-50%, -50%);
        order: 1;
        z-index: 2;

        &__link {
          display: flex;
        }

        &__text {
          position: absolute;
          width: 1px;
          height: 1px;
          padding: 0;
          margin: -1px;
          overflow: hidden;
          clip: rect(0, 0, 0, 0);
          border: 0;
        }

        &__icon {
          width: 110px;
          height: 30px;
          fill: $primary-color;
          @include respondTo(desktop) {
            width: 168px;
            height: 43.4px;
          }
        }
      }

      .searchBar {
        color: $primary-color;
        stroke: $primary-color;
        font-size: 3rem;
        cursor: pointer;
        padding: 0;
        width: $header-search-icon-width;
        transition: all 0.2s ease-out;
        @media (hover: hover),
          (-ms-high-contrast: none),
          (-ms-high-contrast: active) {
          &:hover {
            color: $black-blue;
            stroke: $black-blue;
          }
        }
        @include respondTo(desktop) {
          margin: 0 0 0 50px;
        }
      }

      .signUpBtn {
        @include respondTo(desktop) {
          margin: 0 0 0 27px;
        }
      }
    }
  }
}
