
@import '../../mixins';
@import '../../components/Button/index';

.back-to-top {
  position: fixed;
  z-index: 10;
  bottom: 25px;
  right: 25px;
  display: inline-block;
  @include respondTo(desktop) {
    bottom: 50px;
    right: 140px;
  }
  button{
    @extend .button;
    @extend .button--control;
  }

  &[hidden] {
    display: none;
  }
}
