@import '../../../scss/config';

.product-copy {
  &-title {
    position: relative;
    font-size: $product-copy-title-fz;
    text-transform: uppercase;
    @include respondTo(desktop) {
      font-size: $product-copy-title-fz-lg;
    }
  }
}
