@import '../../scss/vars';
@import '../../scss/mixins';
.meal-planner {
  :global {
    .wizard {
      overflow-y: auto;
      &:not(.wizard--intro) {
        padding-bottom: 20px;
      }
      &__logo {
        width: 100%;
        position: fixed;
        height: 77px;
        background-color: white;
        left: 0;
        top: 0;
        .main-logo {
          position: absolute;
          left: 24px;
          top: 24px;
        }
      }
      &__privacy {
        position: absolute;
        background: $white;
        width: 100%;
        bottom: 0;
        .footer-menu {
          &__list {
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 0;
            margin: 5px 0;
          }
          &__item {
            margin: 0 10px;
          }
          &__link {
            font-size: 1rem;
            color: #7c7c7c;
            text-decoration: none;
            @media (hover: hover),
              (-ms-high-contrast: none),
              (-ms-high-contrast: active) {
              &:hover {
                color: $black-blue;
              }
            }
            &[target='_blank'] {
              &:after {
                background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjEzIiBoZWlnaHQ9IjEzIiBmaWxsPSIjMzYzODQwIj48cGF0aCBkPSJNMTkgMTlINVY1aDdWM0g1YTIgMiAwIDAgMC0yIDJ2MTRhMiAyIDAgMCAwIDIgMmgxNGMxLjEgMCAyLS45IDItMnYtN2gtMnY3ek0xNCAzdjJoMy41OWwtOS44MyA5LjgzIDEuNDEgMS40MUwxOSA2LjQxVjEwaDJWM2gtN3oiLz48cGF0aCBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDBWMHoiLz48L3N2Zz4=); //$black-blue
                background-repeat: no-repeat;
                background-size: cover;
                content: '';
                height: 10px;
                width: 10px;
                margin: 0 0.1875rem 0 0.25rem;
                vertical-align: middle;
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 158px;
  height: 158px;
}
