.meal-planner {
  :global {
    .wizard {
      @media screen and (max-height: 567px),
        screen and (orientation: landscape) and (max-width: 959px) {
        overflow-y: auto;
      }
      &__logo {
        @media screen and (max-height: 567px),
          screen and (orientation: landscape) and (max-width: 959px) {
          width: 100%;
          position: fixed;
          height: 80px;
          background-color: white;
          left: 0;
          top: 0;
          .main-logo {
            position: absolute;
            left: 24px;
            top: 24px;
          }
        }
      }
    }
  }
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 158px;
  height: 158px;
}
