.user-profile-favorites {
  padding-bottom: 54px;
  .recipe-list {
    padding: 0;
    &__null-results {
      .recommendations__title {
        @extend h2;
      }
      .recommendations__subtitle {
        font-family: $arial;
        font-size: 1.4rem;
        line-height: 1.29;
        margin-bottom: 46px;
      }
    }
    &__header {
      margin-bottom: 20px;
    }
  }
  .favorites__button {
    @extend .button;
    @extend .button--fullwidth;
    margin: 0 auto;
    display: flex;
    @include respondTo(desktop) {
      height: 46px;
    }
  }
}
