.tabs {
  position: relative;
  width: 100%;
  &:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    height: 62px;
    width: 100%;
    background: $primary-bg-color;
    border-radius: 0 0 20px 20px;
    @include respondTo(desktop) {
      display: none;
    }
  }
  &__buttons {
    display: flex;
    background: $white-gray;
    border-radius: 0 0 20px 20px;
    height: 62px;
    justify-content: space-around;
    @extend .container;
    button {
      @extend %global--links;
      padding: 20px;
      width: auto;
      background: none;
      border: none;
      font-size: 1.8rem;
      font-family: $rubik;
      color: $black-blue;
      text-align: center;
      &:before {
        width: 100%;
        height: 2px;
        background: $fish-blue-darker;
      }
      &[aria-selected='false'] {
        &:before {
          width: 0;
        }
      }
    }
  }
  &__items {
    @extend .container;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
  }
}
