@import '../../scss/vars';
@import '../../scss/mixins';

.user-profile {
  padding-bottom: 60px;
  :global {
    .tabs {
      &-header {
        background-color: $primary-bg-color;
        padding: 22px 25px;
        @include respondTo(desktop) {
          padding: 30px $layout-indent 0;
        }
        &__heading {
          h1 {
            font-size: 3rem; // @extend %h1--smaller;
            line-height: 1.07;
            color: $fish-blue-darker;
            margin-bottom: 25px;
            @include respondTo(desktop) {
              font-size: 4.5rem;
            }
          }
          &-subheading {
            min-height: 18px; // to prevent tabs jumping on tabs switching
            @include respondTo(desktop) {
              min-height: 43px;
            }
            h2 {
              font-size: 1.4rem;
              font-family: $arial;
              margin: 0;

              @include respondTo(desktop) {
                padding-bottom: 25px;
              }
            }
          }
        }
      }
      &__buttons {
        border-radius: 0 0 20px 20px;
        padding-left: $layout-indent-sm;
        padding-right: $layout-indent-sm;
        @include respondTo(desktop) {
          padding: 0 $layout-indent;
        }
      }
      &__button {
        font-size: 1.3rem;
        padding: 10px;
        flex-basis: 33.33%;
        @include respondTo(desktop) {
          font-size: 2rem;
        }
      }
      &__items {
        padding: 28px $layout-indent-sm 55px;
        @include respondTo(desktop) {
          padding: 50px $layout-indent 0;
        }
      }
    }
  }
  .mealPlannerBtnWrap {
    text-align: center;
  }
  .mealPlannerBtn {
    margin-top: 25px;
  }
}
