/* ----------------------------------------------------------------------------- *\
   BREAKPOINTS
\* ----------------------------------------------------------------------------- */
// $bp-small: 480px;
$bp-medium: 768px;
// $bp-large: 992px;
// $bp-extra-large: 1200px;
$bp-desktop: 1366px;

// usage example
// a {
//    @include respondTo(desktop) {
//      &:hover { background: blue; } // only add the hover effect on desktop browsers
//    }
// }

/* ----------------------------------------------------------------------------- *\
   COLORS
\* ----------------------------------------------------------------------------- */
$recepedia-orange: #ff7875;
$fish-blue: #587c94;
$fish-blue-darker: #4C6B7F;
$apple-green: #b6dc85;
$luminous-yellow: #facc00;
$black-blue:#363840;
$white-gray:#f4f7f9;
$white-gray-darker: #E4EAEF;
$white: #ffffff;
$blue-overlay-40: rgba(88,124,148,.4);
$gray: #C3C3C3;

$primary-color: $recepedia-orange;
$overlay-color: $blue-overlay-40;
$alert-color: #fc5959;
$primary-bg-color: $white-gray;

/* ----------------------------------------------------------------------------- *\
   FONTS
\* ----------------------------------------------------------------------------- */
$rubik: 'Rubik', sans-serif;
$arial: Arial, Helvetica, sans-serif;

/* ----------------------------------------------------------------------------- *\
   LAYOUT
\* ----------------------------------------------------------------------------- */
// $paddings-container: 24px;