/* ----------------------------------------------------------------------------- *\
   BREAKPOINTS
\* ----------------------------------------------------------------------------- */
// $bp-small: 480px;
$bp-medium: 768px;
// $bp-large: 992px;
// $bp-extra-large: 1200px;
$bp-desktop: 1366px;

// usage example
// a {
//    @include respondTo(desktop) {
//      &:hover { background: blue; } // only add the hover effect on desktop browsers
//    }
// }

/* ----------------------------------------------------------------------------- *\
   COLORS
\* ----------------------------------------------------------------------------- */
$recepedia-orange: #ff7875;
// $fish-blue: #587c94;
$fish-blue-darker: #4c6b7f;
$apple-green: #b6dc85;
$luminous-yellow: #facc00;
$black-blue: #363840;
$white-gray: #f4f7f9;
$white-gray-darker: #e4eaef;
$white: #ffffff;
$blue-overlay-40: rgba(88, 124, 148, 0.4);
$pink-overlay-80: rgba(255, 120, 117, 0.8);
$apple-green-overlay-80: rgba(182, 220, 133, 0.8);

$gray: #c3c3c3;

$primary-color: $recepedia-orange;
$page-overlay-color: $blue-overlay-40;
$item-overlay-color: $apple-green-overlay-80;
$alert-color: #fc5959;
$primary-bg-color: $white-gray;

/* ----------------------------------------------------------------------------- *\
   FONTS
\* ----------------------------------------------------------------------------- */
$rubik: 'Rubik', sans-serif;
$arial: Arial, Helvetica, sans-serif;

/* ----------------------------------------------------------------------------- *\
   LAYOUT
\* ----------------------------------------------------------------------------- */
$paddings-container: 24px;

/* ----------------------------------------------------------------------------- *\
   RECIPE CARD HEIGHT SIZES
\* ----------------------------------------------------------------------------- */
$recipe-card-height--mobile: 225px;
$recipe-card-height--desktop: 320px;

/* ----------------------------------------------------------------------------- *\
   RECIPE LISTING HEIGHT SIZES
\* ----------------------------------------------------------------------------- */
$page-listing-card-height--mobile: 100px;
$page-listing-card-height--desktop: 195px;
