.global-footer__container{
  @include respondTo(desktop){
    display: flex;
    flex-direction: column;
  }
}

.country-dropdown{
  @include respondTo(desktop){
    display: flex;
    position: relative;
    -webkit-transform: translateY(-67px);
    transform: translateY(-67px);
    align-self: flex-end;
  }

  [class*=-control]{
    background-color: transparent;
    box-shadow: none;
    font-size: 14px;
    line-height: 1;
    border: none;
    min-height: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    > div{
      &:nth-child(1){
        padding: 0;
        flex: 0 0 auto;

        [class*=-placeholder]{
          position: relative;
          margin: 0;
          top: auto;
          transform: none;
          color: $black-blue;
        }

        [class*=-Input]{
          position: absolute;
        }
      }

      [class*=-indicatorContainer]{
        padding: 0;
        margin-left: 9px;
        margin-top: -2px;

        [class*=-Svg]{
          width: auto;
          height: auto;
        }
      }
    }
  }

  [class*=-menu]{
    margin: 0;
    overflow: hidden;
    width: auto;
    @include respondTo(desktop){
      right: 0;
    }

    [class*=-MenuList]{
      padding: 0;

      .option > div{
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        white-space: nowrap;
        align-items: center;
      }

      [class*=country-dropdown-]{
        margin-right: 10px;
        &:nth-last-child(1){
          margin-right: 0;
        }
      }

      .country-dropdown-iso{
        font-weight: bold;
      }

    }
  }

}