// Button vars
$button-border: none !default;
$button-font-size: 1.4rem !default;
$button-icon-font-size: 1.3rem !default;
$button-height: 40px !default;
$button-height-desktop: 46px !default;
$button-padding: 0 15px !default;
$button-radius: 5px !default;

// Button colors
$button-color: $black-blue !default;
$button-background: $apple-green !default;
$button-color-hover: $white !default;
$button-background-hover: $black-blue !default;

$button-secondary-color: $black-blue !default;
$button-secondary-background: $white-gray !default;

// Disabled styles
$button-disabled-background: #dfdfdf !default;
$button-disabled-color: #636363 !default;

.button {
  border: $button-border;
  border-radius: $button-radius;
  display: inline-flex;
  align-items: center;
  font-size: $button-font-size;
  justify-content: center;
  font-weight: bold;
  height: $button-height;
  line-height: normal;
  padding: $button-padding;
  text-transform: none;
  text-decoration: none;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent; // Gets rid of tap active state
  background-color: $button-background;
  color: $button-color;
  fill: currentColor;
  transition: all 0.2s ease-out;
  @include respondTo(desktop) {
    height: $button-height-desktop;
  }

  @media (hover: hover),
    (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
    &:hover {
      background-color: $button-background-hover;
      color: $button-color-hover;
      fill: $button-color-hover;
    }
  }

  @include respondTo(desktop) {
    font-size: 1.6rem;
  }

  &[disabled] {
    pointer-events: none;
    background-color: $button-disabled-background;
    color: $button-disabled-color;
    cursor: default;

    @media (hover: hover),
      (-ms-high-contrast: none),
      (-ms-high-contrast: active) {
      &:hover {
        background-color: $button-disabled-background !important;
        color: $button-disabled-color !important;
      }
    }
  }
  &--rounded {
    border-radius: 20px;
  }

  &--circle {
    border-radius: 50%;
  }

  // Button color modification
  &--secondary {
    background-color: $button-secondary-background;
    color: $button-secondary-color;
    font-weight: normal;
  }

  &--yellow {
    background-color: $luminous-yellow;
    color: $black-blue;
    fill: currentColor;

    @media (hover: hover),
      (-ms-high-contrast: none),
      (-ms-high-contrast: active) {
      &:hover {
        background-color: $button-background-hover;
        color: $white;
      }
    }
  }

  &--flat {
    background: transparent;
    color: $black-blue;
    border: none;

    @media (hover: hover),
      (-ms-high-contrast: none),
      (-ms-high-contrast: active) {
      &:hover {
        background-color: transparent;
        color: $apple-green;
        fill: currentColor;
      }
    }
  }

  // Button size modification

  &--fullwidth {
    width: 100%;
    max-width: 350px;
  }

  &--medium {
    width: 100%;
    max-width: 160px;
    @include respondTo(desktop) {
      max-width: 260px;
    }
  }

  &--small {
    width: 100%;
    max-width: 110px;
    @include respondTo(desktop) {
      max-width: 160px;
    }
  }

  // Button With icon

  &--control {
    padding: 0;
    width: 46px;
    height: 46px;
    @include respondTo(desktop) {
      width: 56px;
      height: 56px;
    }
  }

  &--tooltip {
    padding: 0;
    width: 46px;
    height: 46px;
  }

  &--aside {
    padding: 0;
    width: 46px;
    height: 46px;
    @include respondTo(desktop) {
      width: 74px;
      height: 74px;
    }
  }

  &--filter {
    //advanced recipe listing
    background-color: $black-blue;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    border-radius: 0;
    padding: 0;
    svg {
      fill: $white;
    }
  }

  &__underlined {
    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      line-height: 1px;
      background: $black-blue;
      transition: width 0.2s ease-out;
    }
    @media (hover: hover),
      (-ms-high-contrast: none),
      (-ms-high-contrast: active) {
      &:hover {
        &:before {
          width: 100%;
        }
      }
    }
  }
}

.action-button {
  @extend .button;
  @extend .button--circle;
  padding: 0;
  background: $white;
  color: $fish-blue-darker;
  border: 1px solid $fish-blue-darker;
  @media (hover: hover),
    (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
    &:hover {
      background-color: $apple-green;
      color: $black-blue;
      border: 1px solid $black-blue;
      svg {
        fill: $black-blue;
        path {
          fill: $black-blue;
        }
      }
    }
  }

  width: 48px;
  height: 48px;
  svg {
    stroke: currentColor;
    fill: $white;
    transition: stroke 0.2s ease-out;
    width: 20px;
    height: 18px;
  }
  &.button__selected {
    background-color: $apple-green;
    color: $black-blue;
    svg {
      fill: $black-blue;
    }
  }
}
