@import 'src/scss/vars';
@import 'src/scss/mixins';

.search-page {
  :global {
    .search-input {
      margin-bottom: 36px;
    }

    .tabs {
      &__buttons {
        background-color: transparent;
        justify-content: flex-start;
        height: auto;
        button {
          width: auto;
          padding-right: 0;
          padding-left: 0;
          padding-bottom: 10px;
          margin-right: 35px;
          &:nth-last-child(1) {
            margin-right: 0;
          }
        }
      }

      &__items {
        .search-listing__results-header {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }

  [data-componentname='tabs'] {
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      top: 250px;
      left: 0;
      width: 100%;
      background-color: $white-gray;
      border-radius: 24px;
      @include respondTo(medium) {
        top: 310px;
      }
      @include respondTo(desktop) {
        top: 320px;
        border-radius: 0;
      }
    }
  }
}
