.modal {
  .search-input {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    &__title {
      text-align: center;
      color: $fish-blue-darker;
      @extend %h2--bigger;
    }
    &__list {
      padding: 0;
      list-style-type: none;
      background-color: $white;
      border-radius: 5px;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
      overflow: auto;
      flex-shrink: 1;
    }
    &__link {
      display: block;
      padding: 10px 18px;
      text-decoration: none;
      color: $black-blue;
      font-size: 1.4rem;
      line-height: 1.43;
      letter-spacing: 0.28px;
      &:hover,
      &.active {
        background-color: $apple-green;
      }
    }
    .form{
      @include respondTo(desktop){
        max-width: 100%;
        margin: 0;
      }
      &__input{
        font-size: 1.6rem;
      }
    }
  }
}
