.modal {
  .search-input {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    &__title {
      text-align: center;
      color: $fish-blue-darker;
      @extend %h2--bigger;
    }

    &__list {
      overflow-y: auto;
      flex-shrink: 1;
    }
    .form {
      @include respondTo(desktop) {
        max-width: 100%;
        margin: 0;
      }
      &__input {
        font-size: 1.6rem;
        @include respondTo(desktop) {
          font-size: 2rem;
        }
      }
    }
  }
}
