.search-listing {
  .search {
    &-input {
      position: relative;
      z-index: 2;
      &__list {
        position: absolute;
        top: 100%;
        @include respondTo(desktop) {
          width: 384px;
          left: 50%;
          margin-left: -192px;
        }
      }

      &__title {
        font-size: 3.4rem;
        line-height: 1.06;
        text-align: center;
        color: $fish-blue-darker;
        @include respondTo(desktop) {
          font-size: 5.5rem;
          line-height: 1;
        }
      }

      &__message {
        display: none;
      }
    }
  }
}

section {
  .search {
    &-input {
      padding: 0 25px;
      @include respondTo(desktop) {
        padding: 0 $layout-indent;
      }
    }
  }
}
