.page-listing-item {
  list-style: none;
  &__image {
    border-radius: 5px;
    overflow: hidden;
  }
  &__link {
    text-decoration: none;
  }
  &__title {
    font-size: 1.6rem;
    font-family: $rubik;
    font-weight: 500;
    color: $black-blue;
    padding-top: 12px;
    outline: none;
    min-height: $itemTitleHeight;
    margin: 0;
    @include respondTo(desktop) {
      padding-top: 20px;
    }
  }
}
