.page-listing-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  text-decoration: none;
  position: relative;
  list-style: none;
  &__image {
    border-radius: 5px;
    overflow: hidden;
    min-width: 100%;
    z-index: 0;
  }
  &__link {
    text-decoration: none;
  }
  &__title {
    font-size: 1.6rem;
    font-family: $rubik;
    font-weight: 500;
    color: $black-blue;
    padding-top: 12px;
    padding-bottom: 20px;
    outline: none;
    margin: 0;
    @include respondTo(desktop) {
      padding-top: 20px;
    }
  }
}
