@import '../../scss/vars';
@import '../../scss/mixins';

.article {
  &-image {
    background-color: #fff;
    .article-social {
      position: absolute;
      right: 18px;
      bottom: 16px;
      @include respondTo(desktop) {
        right: 36px;
        bottom: 38px;
      }
    }
    :global(&__wrap) {
      position: relative;
      margin-bottom: 27px;
      @include respondTo(desktop) {
        margin-bottom: 44px;
      }
      :global {
        .hero {
          background-color: transparent;
        }
      }
    }
    :global(.adaptive-image__image) {
      height: 225px;
      @include respondTo(desktop) {
        height: 350px;
      }
    }
  }

  &-title {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: $white;
    @include respondTo(desktop) {
      padding-top: 60px;
      padding-bottom: 33px;
    }
    h1 {
      margin: 0;
    }
  }

  &-text {
    line-height: 1.29;
    color: $black-blue;
    p {
      margin-bottom: 30px;
    }
    strong {
      font: 500 1.6rem/1.25 $rubik;
      color: $fish-blue-darker;
      @include respondTo(desktop) {
        font-size: 1.8rem;
        line-height: 1.22;
      }
    }
    .article-social {
      display: flex;
      justify-content: center;
      button {
        width: auto;
        background-color: transparent;
        border: none;
        svg {
          width: 19px;
          height: 16px;
          margin-right: 6px;
          @include respondTo(desktop) {
            width: 24px;
            height: 20px;
          }
        }
        span {
          font: 500 1.6rem/1.19 $rubik;
          @include respondTo(desktop) {
            font-size: 1.8rem;
            line-height: 1.22;
          }
        }
        &:hover {
          background-color: transparent;
          border: none;
        }
      }
    }
  }

  &-video {
    margin: 10px 0 36px;
    @include respondTo(desktop) {
      margin: 40px 0 36px;
    }
    :global(.video-player) {
      margin-bottom: 19px;
      @include respondTo(desktop) {
        width: 86%;
        margin: 0 auto 22px;
      }
      & + p {
        font-size: 1.2rem;
        line-height: 1.33;
        margin: 0;
        @include respondTo(desktop) {
          font-size: 1.4rem;
          width: 86%;
          margin: 0 auto 22px;
        }
      }
    }
  }

  &-next {
    h2 {
      font-size: 1.6rem;
      line-height: 1.88;
      color: $fish-blue-darker;
      margin-bottom: 17px;
      @include respondTo(desktop) {
        font-size: 2.5rem;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 14px;
        width: 86%;
        margin: 0 auto;
      }
    }
    a {
      display: block;
      @include respondTo(desktop) {
        width: 86%;
        margin: 0 auto;
      }
    }
    :global {
      .hero {
        position: relative;
        margin-bottom: 60px;

        &__image {
          .adaptive-image__image {
            height: 241px;
            @include respondTo(desktop) {
              height: 347px;
            }
          }
        }

        &__copy {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(54, 56, 64, 0.4);
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          padding: 0 18px 15px;
          color: $white;
          @include respondTo(desktop) {
            padding: 0 18px 56px;
            text-align: center;
          }
        }

        &__container {
          display: flex;
          flex-direction: column-reverse;
          font-family: $rubik;
          font-weight: 500;
        }

        &__short-subheader {
          h3 {
            margin: 0;
            font-size: 1.8rem;
            line-height: 1;
            @include respondTo(desktop) {
              font-size: 3.7rem;
              line-height: 1.19;
            }
          }
        }

        &__long-subheader {
          p {
            margin: 0 0 5px 0;
            font-size: 1.2rem;
            line-height: 1.67;
            @include respondTo(desktop) {
              margin: 0 0 11px 0;
              font-size: 2.5rem;
              line-height: 1.5;
            }
          }
        }
      }
    }
  }

  &-wrap {
    :global(#content) {
      background-color: $white-gray;
    }
    .article-image {
      &:before {
        bottom: 0;
        top: 50%;
        height: auto;
        border-radius: 24px 24px 0 0;
        @include respondTo(desktop) {
          border-radius: 0;
        }
      }
    }
  }
}
