@import '../../scss/mixins';

.grey-bg {
  position: relative;
  background: $white-gray;
}
.hero-description {
  display: none;
  @include respondTo(medium) {
    display: block;
    margin-bottom: 20px;
  }
}
.hero-description-bold {
  display: none;
  @include respondTo(medium) {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.6rem;
    color: $black-blue;
  }
}
.hero-bg {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    z-index: -1;
    background: $white-gray;
    border-radius: 20px 20px 0 0;
    @include respondTo(desktop) {
      border-radius: 0;
    }
  }
}
.hero-bg-image {
  img {
    border-radius: 5px;
  }
  & div > div {
    padding-bottom: 50% !important;
    @include respondTo(desktop) {
      padding-bottom: 30% !important;
    }
  }
}
